<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>환경설정</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>운영관리</li>
                    <li>SMS관리</li>
                    <li class="on">환경설정</li>
                </ul>
                <ul class="helpbox">
                    <li>SMS 환경설정을 합니다.</li>
                    <li>SMS 충전은 아래 버튼을 눌러주세요. 충전을 하실려면 SMS회원가입이 필요 합니다.</li>
                    <li>SMS 회원가입을 하실려면 원하는 아이디와 비밀번호를 아래의 환경설정에 입력해 주세요.</li>
                </ul>

                <form name="Frm" method="post" action="/sms/config.act">

                    <div class="section_head">
                        <h4>SMS 환경설정</h4>
                    </div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="t_form">
                        <caption>SMS 설정폼</caption>
                        <colgroup>
                            <col width="130">
                            <col width="*">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>사용 여부</th>
                                <td>
                                    <input type="radio" name="isUse" value="T">사용
                                    <input type="radio" name="isUse" value="F" checked="">미사용
                                </td>
                            </tr>
                            <tr>
                                <th>몰스토어 ID</th>
                                <td>
                                    <input type="text" name="bizID" value="mall" class="text_input" style="width:150px" maxlength="25">
                                    <span class="button small"><a href="http://sms.mallstore.co.kr/" target="_blink">SMS신청하기</a></span>
                                    <div class="square_blue mgt5">몰스토어 홈페이지 회원님은 홈페이지 아이디를 그대로 입력하시면 됩니다.</div>
                                </td>
                            </tr>
                            <tr>
                                <th>패스워드</th>
                                <td>
                                    <input type="checkbox" name="isInputPw" value="T" onclick="checkInputPw(this)" style="vertical-align:middle"> 패스워드입력
                                </td>
                            </tr>
                            <tr id="bodyPw" style="display:none">
                                <th>패스워드</th>
                                <td>
                                    <input type="password" name="bizPw" value="" class="text_input" style="width:150px" maxlength="25">
                                    <div class="square_blue mgt5">패스워드를 적어 주세요! 충전할 떄 사용합니다.</div>
                                </td>
                            </tr>
                            <tr>
                                <th>샵 이름</th>
                                <td>
                                    <input type="text" name="shopName" class="text_input" value="몰스토어" maxlength="7">
                                    <div class="square_blue mgt5">샵 이름을 적어 주세요 최대 7글자!</div>
                                    <div class="square_blue mgt5">샵 이름은 발송 SMS 하단에 표시됩니다.</div>
                                </td>
                            </tr>
                            <tr>
                                <th>발송자 휴대폰</th>
                                <td>
                                    <input type="text" name="sendNumber" class="text_input" value="025551344" maxlength="20" onkeypress="blockNotNumber(event)" onkeyup="onlyInt(this)">
                                    <div class="square_blue mgt5">Ex) 0103483724</div>
                                    <div class="square_blue mgt5">발송될 때의 받는 사람에게 보여지는 번호를 적어주세요.</div>
                                </td>
                            </tr>
                            <tr>
                                <th>관리자 휴대폰</th>
                                <td>
                                    <input type="text" name="receiveNumber" class="text_input" value="0100000" maxlength="20" onkeypress="blockNotNumber(event)" onkeyup="onlyInt(this)">
                                    <div class="square_blue mgt5">Ex) 관리자가 메세지 받을 핸드폰 번호 </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="btn">
                        <span class="button large black"><button type="button" onclick="validSubmit()">확인</button></span>
                    </div>

                </form>


                <%- include('../inc/footer') %>

                    <script type="text/javascript">
                        //<![CDATA[
                        function checkInputPw(obj) {
                            var f = document.Frm;

                            if (obj.checked) {
                                f.bizPw.disabled = false;
                                $('#bodyPw').show();
                            } else {
                                $('#bodyPw').hide();
                                f.bizPw.disabled = true;
                            }
                        }

                        function validSubmit() {
                            var f = document.Frm;

                            if (getRadio(f.isUse) == "T") {
                                if (isEmpty(f.bizID)) {
                                    alert("SMS ID를 입력해 주세요.");
                                    f.bizID.focus();
                                    return false;
                                }

                                if (!f.isInputPw.checked) {
                                    alert("SMS 패스워드를 입력해 주세요.");
                                    f.isInputPw.focus();
                                    return false;
                                } else {
                                    if (isEmpty(f.bizPw)) {
                                        alert("SMS 패스워드를 입력해 주세요.");
                                        f.bizPw.focus();
                                        return false;
                                    }
                                }

                                if (isEmpty(f.shopName)) {
                                    alert("샵 이름을 입력해 주세요.");
                                    f.shopName.focus();
                                    return false;
                                }

                                if (isEmpty(f.sendNumber)) {
                                    alert("발송자 핸드폰번호를 입력해 주세요.");
                                    f.sendNumber.focus();
                                    return false;
                                }

                                if (isEmpty(f.receiveNumber)) {
                                    alert("관리자 핸드폰번호를 입력해 주세요.");
                                    f.receiveNumber.focus();
                                    return false;
                                }
                            }

                            if (confirm("등록하시겠습니까?")) {
                                f.submit();
                            }
                        }
                        //]]>
                    </script>


                    </body>

                    </html>