<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>이모티콘관리</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>운영관리</li>
                    <li>SMS관리</li>
                    <li class="on">이모티콘관리</li>
                </ul>
                <ul class="helpbox">
                    <li>SMS 이모티콘관리를 합니다.</li>
                </ul>

                <!-- 특수문자 : 시작 -->
                <div id="layerSpecial" style="position:absolute; display:none;">
                    <iframe src="/js/special_char.ifrm.html" frameborder="0" style="width:318px; height:134px;" scrolling="no"></iframe>
                </div>
                <!-- 특수문자 : 끝 -->

                <form name="Frm" method="post" action="/sms/emoticon_manage.act">
                    <input type="hidden" name="mode">

                    <div class="section_head">
                        <h4>SMS 이모티콘 관리</h4>
                    </div>

                    <div class="tip_box2">
                        <strong class="blue">주의사항</strong><br>
                        <span>내용 입력시 80 Bytes 이상 적으시면 발송이 안됩니다. 참고하시기 바랍니다.</span><br>
                        <span>도움문구는 다음과 같습니다.</span><br>
                        <span style="background:none;padding-left:10px">[NAME] : 회원이름, [SHOPNAME] : 상점명, [ORDERNUMBER] : 주문번호</span><br>
                        <span style="background:none;padding-left:10px">[NAME] 회원 정보가 없을 경우 '회원' 보이게 함, [DATE] 날짜</span><br>
                    </div>

                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="t_form mgt20">
                        <caption>SMS 이모티콘 등록 폼</caption>
                        <colgroup>
                            <col width="130">
                            <col width="*">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>제목</th>
                                <td>
                                    <input type="text" name="title" class="text_input" style="width:60%" maxlength="20">
                                </td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td>
                                    <ul class="sms_view">
                                        <li><img src="/img/sms_top.gif"></li>
                                        <li class="cont"><textarea name="content" cols="16" rows="5" onkeyup="checkSmsContent(this)" onchange="checkSmsContent(this)"></textarea></li>
                                        <li class="byte">
                                            <p><input type="text" name="bytes" style="width:20px;text-align:right;border:0;font-size:11px;font-style:verdana;" value="0" readonly="">/80 Bytes</p>
                                        </li>
                                        <li class="mgt5 tc"><span class="button small"><button type="button" onclick="switchSmsLayer(event,'layerSpecial')">특수문자</button></span></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="btn">
                        <span class="button large black"><button type="button" onclick="validSubmit()">확인</button></span>
                        <span class="button large black"><button type="button" onclick="cancel()">취소</button></span>
                    </div>

                </form>


                <%- include('../inc/footer') %>


                    <script type="text/javascript" src="/js/sms_func.js"></script>
                    <script type="text/javascript">
                        //<![CDATA[
                        function validSubmit() {
                            var f = document.Frm;

                            if (isEmpty(f.title)) {
                                alert("제목을 입력해 주세요.");
                                f.title.focus();
                                return false;
                            }

                            if (isEmpty(f.content)) {
                                alert("내용을 입력해 주세요.");
                                f.content.focus();
                                return false;
                            }

                            if (confirm("등록하시겠습니까?")) {
                                f.mode.value = "REG";
                                f.submit();
                            }
                        }

                        function cancel() {
                            location.href = "emoticon_manage";
                        }
                        //]]>
                    </script>


                    </body>

                    </html>