<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>브랜드관리</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>상품관리</li>
                    <li>상품관리</li>
                    <li class="on">브랜드관리</li>
                </ul>
                <ul class="helpbox">
                    <li>각 디렉토리별로 브랜드별 정리를 하실 수 있는 곳입니다.</li>
                    <li>브랜드명을 적으시고 추가 해 주시면 상품등록에서 브랜드를 선택해 주시면 됩니다.</li>
                </ul>



                <form name="Frm" method="post" action="/goods/brand_list">
                    <input type="hidden" name="mode">
                    <input type="hidden" name="idx">
                    <input type="hidden" name="params" value="skey=^sword=^page=">

                    <div class="section_head">
                        <h4>총 <span><strong>9</strong></span>개의 정보가 등록되어있습니다.</h4>
                        <div>
                            <select id="skey" name="skey"><option value="name">브랜드명</option></select>
                            <input type="text" name="sword" value="" class="text_input" style="width:150px">
                            <span class="button small black"><button type="submit">검색</button></span>
                        </div>
                    </div>

                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="t_list">
                        <caption>등록된 배너 리스트</caption>
                        <colgroup>
                            <col width="50">
                            <col width="250">
                            <col width="*">
                            <col width="50">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>브랜드명</th>
                                <th>이미지</th>
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>9</td>
                                <td>PLASTIC ISLAND</td>
                                <td>
                                    <div class="adjust_image_container"><img src="/img/brand_logo1.jpg" ow="182" oh="100"></div>
                                </td>
                                <td>
                                    <div><span class="button small"><button type="button" onclick="edit(17)">수정</button></span></div>
                                    <div class="mgt3"><span class="button small"><button type="button" onclick="del(17)">삭제</button></span></div>
                                </td>
                            </tr>

                            <tr>
                                <td>8</td>
                                <td>UNIQLO</td>
                                <td>
                                    <div class="adjust_image_container"><img src="/img/brand_logo2_1.jpg" ow="182" oh="100"></div>
                                </td>
                                <td>
                                    <div><span class="button small"><button type="button" onclick="edit(16)">수정</button></span></div>
                                    <div class="mgt3"><span class="button small"><button type="button" onclick="del(16)">삭제</button></span></div>
                                </td>
                            </tr>

                            <tr>
                                <td>7</td>
                                <td>MUJI</td>
                                <td>
                                    <div class="adjust_image_container"><img src="/img/brand_logo3.jpg" ow="182" oh="100"></div>
                                </td>
                                <td>
                                    <div><span class="button small"><button type="button" onclick="edit(12)">수정</button></span></div>
                                    <div class="mgt3"><span class="button small"><button type="button" onclick="del(12)">삭제</button></span></div>
                                </td>
                            </tr>

                            <tr>
                                <td>6</td>
                                <td>PLAC</td>
                                <td>
                                    <div class="adjust_image_container"><img src="/img/brand_logo4.jpg" ow="182" oh="100"></div>
                                </td>
                                <td>
                                    <div><span class="button small"><button type="button" onclick="edit(10)">수정</button></span></div>
                                    <div class="mgt3"><span class="button small"><button type="button" onclick="del(10)">삭제</button></span></div>
                                </td>
                            </tr>

                            <tr>
                                <td>5</td>
                                <td>BARREL</td>
                                <td>
                                    <div class="adjust_image_container"><img src="/img/brand_logo5.jpg" ow="182" oh="100"></div>
                                </td>
                                <td>
                                    <div><span class="button small"><button type="button" onclick="edit(9)">수정</button></span></div>
                                    <div class="mgt3"><span class="button small"><button type="button" onclick="del(9)">삭제</button></span></div>
                                </td>
                            </tr>

                            <tr>
                                <td>4</td>
                                <td>Baby Banz</td>
                                <td>
                                    <div class="adjust_image_container"><img src="/img/brand_logo6.jpg" ow="182" oh="100"></div>
                                </td>
                                <td>
                                    <div><span class="button small"><button type="button" onclick="edit(8)">수정</button></span></div>
                                    <div class="mgt3"><span class="button small"><button type="button" onclick="del(8)">삭제</button></span></div>
                                </td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>PLATFORM</td>
                                <td>
                                    <div class="adjust_image_container"><img src="/img/brand_logo7.jpg" ow="182" oh="100"></div>
                                </td>
                                <td>
                                    <div><span class="button small"><button type="button" onclick="edit(7)">수정</button></span></div>
                                    <div class="mgt3"><span class="button small"><button type="button" onclick="del(7)">삭제</button></span></div>
                                </td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>FRED PERRY</td>
                                <td>
                                    <div class="adjust_image_container"><img src="/img/brand_logo8.jpg" ow="182" oh="100"></div>
                                </td>
                                <td>
                                    <div><span class="button small"><button type="button" onclick="edit(4)">수정</button></span></div>
                                    <div class="mgt3"><span class="button small"><button type="button" onclick="del(4)">삭제</button></span></div>
                                </td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>SAINT JAMES</td>
                                <td>
                                    <div class="adjust_image_container"><img src="/img/brand_logo9.jpg" ow="182" oh="100"></div>
                                </td>
                                <td>
                                    <div><span class="button small"><button type="button" onclick="edit(1)">수정</button></span></div>
                                    <div class="mgt3"><span class="button small"><button type="button" onclick="del(1)">삭제</button></span></div>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="paging" style="margin-top:20px">
                        <span><a href="/goods/brand_list?page=1&skey=&sword="><strong>1</strong></a></span>
                    </div>

                    <div class="btn_right">
                        <span class="button large black"><button type="button" onclick="reg()">추가하기</button></span>
                    </div>

                </form>

                <%- include('../inc/footer') %>

                    <script type="text/javascript">
                        //<![CDATA[
                        function reg() {
                            location.href = "brand_reg";
                        }

                        function edit(idx) {
                            location.href = "brand_reg?idx=" + idx + "&params=skey=^sword=^page=";
                        }

                        function del(idx) {
                            var f = document.Frm;

                            if (confirm("삭제하시겠습니까?")) {
                                f.mode.value = "DEL";
                                f.idx.value = idx;
                                f.method = "post";
                                f.encoding = "multipart/form-data";
                                f.action = "brand.act";
                                f.submit();
                            }
                        }

                        $(function() {
                            $('.adjust_image_container').adjustImage({
                                realtime: true
                            });
                        });
                        //]]>
                    </script>

                    </body>

                    </html>