<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>카테고리관리</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>상품관리</li>
                    <li>카테고리관리</li>
                    <li class="on">카테고리관리</li>
                </ul>
                <ul class="helpbox">
                    <li>카테고리를 설정합니다.</li>
                    <li>이미지파일은 GIF, JPG로 올려주시기 바랍니다.</li>
                </ul>

                <table id="frameBox">
                    <colgroup>
                        <col width="250">
                        <col width="10">
                        <col width="*">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>
                                <div class="border">
                                    <div class="menu">
                                        <dl>
                                            <dt><a href="javascript:;" onclick="cateTree.print('total'); return false;" class="total">전체 펼쳐보기</a></dt>
                                            <dd>|</dd>
                                            <dt><a href="javascript:;" onclick="cateTree.print('choice')">선택된 카테고리만 보기</a></dt>
                                        </dl>
                                    </div>
                                    <div id="treeBox">
                                        <div id="category">
                                            <ul style="list-style: outside none; margin: 0px 0px 4px 15px; padding: 0px; background: url('/img/tree_branch.gif') repeat-y;">
                                                <li class="stair" style="line-height: 1px; font-size: 1px; margin-top: 0px;"><a style="display: block; margin-left: 15px; line-height: 1px; font-size: 1px; height: 4px; background: none;">&nbsp;</a></li>
                                                <li no="2" code="_2_" depth="1" child="1" style="white-space: nowrap; margin: 0px; padding: 0px;"><img src="/img/tree_node.gif" class="node" style="cursor: pointer; vertical-align: middle;"><a id="cate_2" href="javascript:;">OUTER</a><img id="hidden_2" src="/img/icon_cate_show.gif" class="hidden" style="vertical-align: middle; margin-left: 3px; cursor: pointer;"></li>
                                                <li class="stair" style="line-height: 1px; font-size: 1px; margin-top: 0px;"><a style="display: block; margin-left: 15px; line-height: 1px; font-size: 1px; height: 4px;">&nbsp;</a></li>
                                                <li no="14" code="_14_" depth="1" child="1" style="white-space: nowrap; margin: 0px; padding: 0px;"><img src="/img/tree_node.gif" class="node" style="cursor: pointer; vertical-align: middle;"><a id="cate_14" href="javascript:;">TOP</a><img id="hidden_14" src="/img/icon_cate_show.gif" class="hidden" style="vertical-align: middle; margin-left: 3px; cursor: pointer;"></li>
                                                <li class="stair" style="line-height: 1px; font-size: 1px; margin-top: 0px;"><a style="display: block; margin-left: 15px; line-height: 1px; font-size: 1px; height: 4px;">&nbsp;</a></li>
                                                <li no="15" code="_15_" depth="1" child="1" style="white-space: nowrap; margin: 0px; padding: 0px;"><img src="/img/tree_node.gif" class="node" style="cursor: pointer; vertical-align: middle;"><a id="cate_15" href="javascript:;">BOTTOM</a><img id="hidden_15" src="/img/icon_cate_show.gif" class="hidden"
                                                        style="vertical-align: middle; margin-left: 3px; cursor: pointer;"></li>
                                                <li class="stair" style="line-height: 1px; font-size: 1px; margin-top: 0px;"><a style="display: block; margin-left: 15px; line-height: 1px; font-size: 1px; height: 4px;">&nbsp;</a></li>
                                                <li no="7" code="_7_" depth="1" child="1" style="white-space: nowrap; margin: 0px; padding: 0px;"><img src="/img/tree_node.gif" class="node" style="cursor: pointer; vertical-align: middle;"><a id="cate_7" href="javascript:;">DRESS</a><img id="hidden_7" src="/img/icon_cate_show.gif" class="hidden" style="vertical-align: middle; margin-left: 3px; cursor: pointer;"></li>
                                                <li class="stair" style="line-height: 1px; font-size: 1px; margin-top: 0px;"><a style="display: block; margin-left: 15px; line-height: 1px; font-size: 1px; height: 4px;">&nbsp;</a></li>
                                                <li no="12" code="_12_" depth="1" child="1" style="white-space: nowrap; margin: 0px; padding: 0px;"><img src="/img/tree_node.gif" class="node" style="cursor: pointer; vertical-align: middle;"><a id="cate_12" href="javascript:;">ACC</a><img id="hidden_12" src="/img/icon_cate_show.gif" class="hidden" style="vertical-align: middle; margin-left: 3px; cursor: pointer;"></li>
                                                <li class="stair" style="line-height: 1px; font-size: 1px; margin-top: 0px;"><a style="display: block; margin-left: 15px; line-height: 1px; font-size: 1px; height: 4px;">&nbsp;</a></li>
                                                <li no="304" code="_304_" depth="1" child="1" style="white-space: nowrap; margin: 0px; padding: 0px;"><img src="/img/tree_node.gif" class="node" style="cursor: pointer; vertical-align: middle;"><a id="cate_304" href="javascript:;">SHOES</a><img id="hidden_304" src="/img/icon_cate_show.gif" class="hidden"
                                                        style="vertical-align: middle; margin-left: 3px; cursor: pointer;"></li>
                                                <li class="stair" style="line-height: 1px; font-size: 1px; margin-top: 0px;"><a style="display: block; margin-left: 15px; line-height: 1px; font-size: 1px; height: 4px;">&nbsp;</a></li>
                                                <li no="314" code="_314_" depth="1" child="1" style="white-space: nowrap; margin: 0px; padding: 0px;"><img src="/img/tree_node.gif" class="node" style="cursor: pointer; vertical-align: middle;"><a id="cate_314" href="javascript:;">BAG</a><img id="hidden_314" src="/img/icon_cate_show.gif" class="hidden" style="vertical-align: middle; margin-left: 3px; cursor: pointer;"></li>
                                                <li class="stair" style="line-height: 1px; font-size: 1px; margin-top: 0px;"><a style="display: block; margin-left: 15px; line-height: 1px; font-size: 1px; height: 4px;">&nbsp;</a></li>
                                                <li><img src="/img/tree_add.gif" class="node" style="vertical-align: middle;"><img src="/img/icon_cate_regist.gif" style="vertical-align: middle; cursor: pointer;"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </th>
                            <td></td>
                            <td>

                                <form name="Frm" method="post" action="/goods/category.act">
                                    <input type="hidden" name="mode" value="REG">
                                    <input type="hidden" name="cate" value="0">
                                    <input type="hidden" name="parent" value="0">

                                    <div id="wrap_body">
                                        <!-- 카테고리 정보 : 시작 -->
                                        <div class="section_head" style="margin-top:0">
                                            <h4>카테고리 추가</h4>
                                        </div>

                                        <table class="t_form" width="100%">
                                            <caption>카테고리 내용 입력폼</caption>
                                            <colgroup>
                                                <col width="130">
                                                <col width="*">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th>현재 카테고리</th>
                                                    <td class="category">
                                                        <u id="target_category">추가</u>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>카테고리명</th>
                                                    <td>
                                                        <input type="text" name="name" value="" class="text_input" style="width:98%" maxlength="100" onkeyup="copyName(this)">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>수수료율</th>
                                                    <td>
                                                        <input type="text" name="cms" class="text_input" style="width:50px" value="" maxlength="5" onkeyup="onlyFloat(this)" onblur="onlyFloat(this)"> %
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>숨김 여부</th>
                                                    <td>
                                                        <span><input type="radio" name="hidden" value="0" checked="">노출</span>
                                                        <span style="padding-left:10px"><input type="radio" name="hidden" value="1">숨김</span>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <!-- 카테고리 정보 : 끝 //-->

                                        <!-- 상단 꾸미기 : 시작 -->
                                        <div class="section_head">
                                            <h4>카테고리 상단 디자인</h4>
                                        </div>
                                        <div class="editor">
                                            <textarea name="topDecor" style="width: 100%; height: 200px; display: none;" id="topDecor-placeholder"></textarea>
                                            <iframe id="__se2_frame_topDecor-placeholder" name="__se2_frame_topDecor-placeholder" frameborder="0" scrolling="no" style="width: 100%; height: 252px;" src="http://mimd.mallstore.co.kr/common/editor/se2/SmartEditor2Skin.html"></iframe>
                                        </div>

                                        <table class="t_form" width="100%">
                                            <colgroup>
                                                <col width="130">
                                                <col width="*">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th>하위 적용</th>
                                                    <td>
                                                        <input type="checkbox" name="isInheritTopDecor" value="T"> 하위 카테고리에도 동일 하게 적용.
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- 상단 꾸미기 : 끝 //-->

                                        <!-- 카테고리 슬라이드 배너 : 시작 -->
                                        <div class="mgt20">


                                            <div class="sortable_title">
                                                <h4>카테고리 슬라이드 배너</h4>
                                                <p>
                                                    <span><input type="checkbox" name="cbListAll" onclick="cbBannerAll(this)">전체선택</span>
                                                    <span class="button small"><button type="button" onclick="addBanner(this)">배너추가</button></span>
                                                    <span class="button small"><button type="button" onclick="removeBanner(this)">배너삭제</button></span>
                                                    <span class="button blue small"><button type="button" onclick="saveBanner(this)">저장</button></span>
                                                </p>
                                            </div>
                                            <ul class="sortable sortable_banner ui-sortable" cate="0" child="0" max="-1">

                                                <li>
                                                    <input type="checkbox" name="cbBanner" value="2" class="cb">
                                                    <div class="mover">
                                                        <div><strong>MOVE</strong></div>
                                                    </div>
                                                    <div class="banner">
                                                        <img src="/img/event_category_2_1_1.jpg" style="width: auto; height: 138px; margin-left: -33.9512px; margin-top: 0px;" alt="배너1" ow="790" oh="410">
                                                    </div>
                                                    <div class="caption">
                                                        <p class="ellipsis"><span class="ellipsis">배너1</span></p>
                                                        <div>
                                                            <span class="button small"><button type="button" onclick="editBanner(2)">수정</button></span>
                                                            <span class="button small"><a href="/img/event_category_2_1_1.jpg" class="original" laybox-width="0" laybox-height="0">원본</a></span>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <input type="checkbox" name="cbBanner" value="3" class="cb">
                                                    <div class="mover">
                                                        <div><strong>MOVE</strong></div>
                                                    </div>
                                                    <div class="banner">
                                                        <img src="/img/event_category_2_2_1.jpg" style="width: auto; height: 138px; margin-left: -33.9512px; margin-top: 0px;" alt="배너2" ow="790" oh="410">
                                                    </div>
                                                    <div class="caption">
                                                        <p class="ellipsis"><span class="ellipsis">배너2</span></p>
                                                        <div>
                                                            <span class="button small"><button type="button" onclick="editBanner(3)">수정</button></span>
                                                            <span class="button small"><a href="/img/event_category_2_2_1.jpg" class="original" laybox-width="0" laybox-height="0">원본</a></span>
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>

                                        </div>
                                        <!-- 카테고리 슬라이드 배너 : 끝 //-->

                                        <input type="hidden" name="area" value="CMA">
                                        <div class="section_head">
                                            <h4>Best 추천상품 관리</h4>
                                        </div>

                                        <table class="t_form" width="100%">
                                            <colgroup>
                                                <col width="130">
                                                <col width="*">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th>출력여부</th>
                                                    <td>
                                                        <input type="radio" name="areaHiddenCMA" value="0" checked="">출력
                                                        <input type="radio" name="areaHiddenCMA" value="1">숨김
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>상품관리</th>
                                                    <td>
                                                        <select id="areaGoodsCMA" name="areaGoodsCMA" size="5" style="width:100%" multiple="" max="0" ondblclick="openGoods(this)">
                            
                                        </select>

                                                        <div class="over_h mgt5">
                                                            <div class="fl">
                                                                <span class="button small"><button type="button" onclick="moveGoods('areaGoodsCMA', 'UP');">▲</button></span>
                                                                <span class="button small"><button type="button" onclick="moveGoods('areaGoodsCMA', 'DOWN');">▼</button></span>
                                                                <span class="button small"><button type="button" onclick="delGoods('areaGoodsCMA');">삭제</button></span>
                                                            </div>
                                                            <div class="fr">
                                                                <span class="button small"><button type="button" onclick="openSelectGoods('areaGoodsCMA');">상품선택</button></span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <input type="hidden" name="area" value="CMB">
                                        <div class="section_head">
                                            <h4>New 상품 관리</h4>
                                        </div>

                                        <table class="t_form" width="100%">
                                            <colgroup>
                                                <col width="130">
                                                <col width="*">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th>출력여부</th>
                                                    <td>
                                                        <input type="radio" name="areaHiddenCMB" value="0" checked="">출력
                                                        <input type="radio" name="areaHiddenCMB" value="1">숨김
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>상품관리</th>
                                                    <td>
                                                        <select id="areaGoodsCMB" name="areaGoodsCMB" size="5" style="width:100%" multiple="" max="0" ondblclick="openGoods(this)">
                            
                                        </select>

                                                        <div class="over_h mgt5">
                                                            <div class="fl">
                                                                <span class="button small"><button type="button" onclick="moveGoods('areaGoodsCMB', 'UP');">▲</button></span>
                                                                <span class="button small"><button type="button" onclick="moveGoods('areaGoodsCMB', 'DOWN');">▼</button></span>
                                                                <span class="button small"><button type="button" onclick="delGoods('areaGoodsCMB');">삭제</button></span>
                                                            </div>
                                                            <div class="fr">
                                                                <span class="button small"><button type="button" onclick="openSelectGoods('areaGoodsCMB');">상품선택</button></span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <input type="hidden" name="area" value="CMC">
                                        <div class="section_head">
                                            <h4>MD 추천상품 관리</h4>
                                        </div>

                                        <table class="t_form" width="100%">
                                            <colgroup>
                                                <col width="130">
                                                <col width="*">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th>출력여부</th>
                                                    <td>
                                                        <input type="radio" name="areaHiddenCMC" value="0" checked="">출력
                                                        <input type="radio" name="areaHiddenCMC" value="1">숨김
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>상품관리</th>
                                                    <td>
                                                        <select id="areaGoodsCMC" name="areaGoodsCMC" size="5" style="width:100%" multiple="" max="0" ondblclick="openGoods(this)">
                            
                                        </select>

                                                        <div class="over_h mgt5">
                                                            <div class="fl">
                                                                <span class="button small"><button type="button" onclick="moveGoods('areaGoodsCMC', 'UP');">▲</button></span>
                                                                <span class="button small"><button type="button" onclick="moveGoods('areaGoodsCMC', 'DOWN');">▼</button></span>
                                                                <span class="button small"><button type="button" onclick="delGoods('areaGoodsCMC');">삭제</button></span>
                                                            </div>
                                                            <div class="fr">
                                                                <span class="button small"><button type="button" onclick="openSelectGoods('areaGoodsCMC');">상품선택</button></span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>



                                        <div class="btn">
                                            <span class="button large black"><button type="button" onclick="validSubmit()">확인</button></span>
                                            <span class="button large black"><button type="button" onclick="del()">삭제</button></span>
                                        </div>

                                    </div>

                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <form name="FrmLink" method="get">
                    <input type="hidden" name="cate">
                </form>







                <%- include('../inc/footer') %>

                    <script type="text/javascript">
                        //<![CDATA[
                        // 상품선택 오픈
                        function openSelectGoods(target) {
                            openPopup("/common/select/select_goods.pop.asp?target=" + target, "SelectGoods", 900, 545);
                        }

                        function takeSelectGoods(elmId, gno, cate, gname) {
                            var f = document.Frm;
                            var objSelect = f[elmId];
                            var max = (objSelect.getAttribute('max') == null ? 0 : objSelect.getAttribute('max').toString().toNumeric());

                            if (max > 0 && max <= objSelect.length) {
                                alert("더 이상 추가할 수 없습니다.\n\n최대 " + max + "개까지 추가할 수 있습니다.");
                                return false;
                            }

                            var isExist = false;
                            for (var i = 0; i < objSelect.length; i++) {
                                if (objSelect.options[i].value == gno.toString()) isExist = true;
                            }

                            if (isExist) alert("이미 추가된 상품입니다.");
                            else {
                                addSelectOption(objSelect, gname, gno);
                                return true;
                            }
                        }

                        function delGoods(target) {
                            var f = document.Frm;
                            var objSelect = f[target];

                            for (var i = objSelect.length - 1; i > -1; i--) {
                                if (objSelect[i].selected) removeSelectOption(objSelect, i);
                            }
                        }

                        function moveGoods(target, direction) {
                            var f = document.Frm;
                            var objSelect = f[target];

                            var checker = 0;
                            for (var i = 0; i < objSelect.length; i++) {
                                if (objSelect[i].selected) {
                                    if (checker > 0) objSelect[i].selected = false;
                                    else checker = 1;
                                }
                            }

                            var currIdx = objSelect.selectedIndex;

                            if (currIdx == -1) return false;

                            if ((currIdx <= 0 && direction == "UP") || (currIdx >= objSelect.length - 1 && direction == "DOWN")) return false;

                            var currText = objSelect.options[currIdx].text;
                            var currValue = objSelect.options[currIdx].value;

                            if (direction == "UP") {
                                objSelect.options[currIdx].text = objSelect.options[currIdx - 1].text;
                                objSelect.options[currIdx].value = objSelect.options[currIdx - 1].value;
                                objSelect.options[currIdx - 1].text = currText;
                                objSelect.options[currIdx - 1].value = currValue;
                                currIdx = currIdx - 1;
                            } else if (direction == "DOWN") {
                                objSelect.options[currIdx].text = objSelect.options[currIdx + 1].text;
                                objSelect.options[currIdx].value = objSelect.options[currIdx + 1].value;
                                objSelect.options[currIdx + 1].text = currText;
                                objSelect.options[currIdx + 1].value = currValue;
                                currIdx = currIdx + 1;
                            }

                            for (var i = 0; i < objSelect.length; i++) {
                                objSelect[i].selected = false;
                            }
                            objSelect[currIdx].selected = true;
                        }

                        function openGoods(obj) {
                            var index = obj.selectedIndex;
                            if (index == -1) return false;

                            window.open("../goods/detail?gno=" + obj.options[index].value);
                        }
                        //]]>
                    </script>

                    <script type="text/javascript">
                        //<![CDATA[
                        function openEvent(cate) {
                            openPopup("categoryEvent.pop?cate=" + cate, "Event", 960, 700, "scrollbars=yes");
                        }

                        function openBanner(cate) {
                            openPopup("categoryBanner.pop?cate=" + cate, "Banner", 950, 650, "scrollbars=yes");
                        }

                        function checkDisabled(obj, target) {
                            if (target) {
                                try {
                                    if (isArray(target)) {
                                        for (var i in target) {
                                            if (target) target[i].disabled = obj.checked;
                                        }
                                    } else target.disabled = obj.checked;
                                } catch (e) {}
                            }
                        }

                        function copyName(obj) {
                            $('#target_category').html(isEmpty(obj) ? '추가' : obj.value);
                        }

                        function hide(cate, hidden) {
                            var f = document.Frm;

                            if (f.cate.value.toNumeric() == cate.toString().toNumeric()) {
                                setRadio(f.hidden, hidden);
                            }
                        }

                        function del() {
                            var f = document.Frm;
                            var msg = "삭제하시겠습니까?\n\n" +
                                "- 카테고리 삭제시 하위 카테고리도 함께 삭제됩니다.\n" +
                                "- 삭제되는 카테고리에 등록된 상품은 휴지통으로 이동됩니다.";
                            if (confirm(msg)) {
                                f.action = "category_del.act";
                                f.submit();
                            }
                        }

                        function validSubmit() {
                            var f = document.Frm;

                            if (isEmpty(f.name)) {
                                alert("카테고리명을 입력해 주세요.");
                                f.name.focus();
                                return false;
                            }

                            if (f.imgCate && !isEmpty(f.imgCate)) {
                                if (!checkFileName(f.imgCate)) return false;
                                if (!checkFileExt(f.imgCate, "jpg,gif", "이미지(jpg, gif) 파일만 선택해 주세요.")) return false;
                            }

                            if (f.imgCateOver && !isEmpty(f.imgCateOver)) {
                                if (!checkFileName(f.imgCateOver)) return false;
                                if (!checkFileExt(f.imgCateOver, "jpg,gif", "이미지(jpg, gif) 파일만 선택해 주세요.")) return false;
                            }

                            if (f.imgSubCate && !isEmpty(f.imgSubCate)) {
                                if (!checkFileName(f.imgSubCate)) return false;
                                if (!checkFileExt(f.imgSubCate, "jpg,gif", "이미지(jpg, gif) 파일만 선택해 주세요.")) return false;
                            }

                            if (f.imgCateBanner && !isEmpty(f.imgCateBanner)) {
                                if (!checkFileName(f.imgCateBanner)) return false;
                                if (!checkFileExt(f.imgCateBanner, "jpg,gif", "이미지(jpg, gif) 파일만 선택해 주세요.")) return false;
                            }

                            if (confirm("등록하시겠습니까?")) {
                                $(f.area).each(function() {
                                    for (var i = 0; i < f['areaGoods' + this.value].length; i++) {
                                        f['areaGoods' + this.value][i].selected = true;
                                    }
                                });

                                f.encoding = "multipart/form-data";
                                f.action = "category.act";
                                f.submit();
                            }
                        }

                        var timerAdujst = null;

                        function adjustFrame() {
                            clearTimeout(timerAdujst);

                            if (parent.resizeFrame) {
                                timerAdujst = setTimeout(function() {
                                    parent.resizeFrame(window, {
                                        wrap: $('#wrap_body')[0],
                                        fixWidth: -1
                                    });
                                }, 500);
                            } else setTimeout(adjustFrame, 250);
                        }

                        $(function() {
                            $('.adjust_image_container').adjustImage({
                                realtime: true,
                                completed: function() {
                                    adjustFrame(); // Iframe Resized
                                }
                            });

                            // 에디터
                            nhn.husky.EZCreator.createInIFrame({
                                elPlaceHolder: 'topDecor',
                                htParams: {
                                    bUseVerticalResizer: false
                                },
                                fOnAppLoad: function() {
                                    adjustFrame(); // Iframe Resized
                                }
                            });
                        });
                        //]]>
                    </script>




                    <script type="text/javascript" src="/js/cateTree.js"></script>
                    <script type="text/javascript" src="/js/cateTree.dragDrop.js"></script>
                    <script type="text/javascript" src="/js/cateTree.popupMenu.js"></script>
                    <script type="text/javascript">
                        //<![CDATA[
                        function addCate(cate, name, depth, hidden, parent) {
                            cateTree.add({
                                no: cate,
                                name: name,
                                depth: depth,
                                hidden: hidden,
                                parent: parent
                            });
                        }

                        function editCate(cate, name, hidden) {
                            cateTree.edit({
                                no: cate,
                                name: name,
                                hidden: hidden
                            });
                        }

                        function removeCate(cate) {
                            cateTree.remove(cate);
                        }
                        //]]>
                    </script>


                    <script type="text/javascript">
                        //<![CDATA[
                        cateTree.init(_e('category'), 3, 1);
                        cateTree.throwHide = function(cate, hidden) {
                            var func = _e('frmDetail').contentWindow.hide;
                            if (typeof(func) == 'function') func(cate, hidden);
                        }
                        cateTree.linkageSelect = function(cate) {
                            _e('frmDetail').src = "category_detail.ifrm?cate=" + cate;
                        }
                        cateTree.linkageRegist = function(parent) {
                            _e('frmDetail').src = "category_detail.ifrm?parent=" + parent;
                        }

                        cateTree.dragDrop.init();
                        cateTree.dragDrop.confirmApplyMove = function() {
                            return confirm("선택한 위치로 카테고리를 이동 하시겠습니까?");
                        }

                        cateTree.popupMenu.bind('printChild', '하위카테고리<br />펼쳐보기', function(cate) {
                            cateTree.print('child', cate);
                        });
                        cateTree.popupMenu.bind('goodsList', '상품보기', function(cate) {
                            location.href = "goods_list?scate=" + cate;
                        });
                        cateTree.popupMenu.bind('goodsPreview', '미리보기', function(cate, depth) {
                            var f = document.FrmLink;
                            var page = "";
                            switch (depth) {
                                case 1:
                                    page = "main.asp";
                                    break;
                                default:
                                    page = "category";
                                    break;
                            }
                            f.cate.value = cate;
                            f.target = "_blank";
                            f.action = "/goods/" + page;
                            f.submit();
                        });

                        addEvent(window, 'load', function() {
                            cateTree.print();
                        });
                        addEvent(window, 'resize', function() {
                                _e('frmDetail').style.width = '100%';
                            })
                            //]]>
                    </script>

                    <script type="text/javascript">
                        //<![CDATA[
                        function cbBannerAll(obj) {
                            $(obj).parents('div').first().next().find('input:checkbox[name="cbBanner"]').each(function() {
                                this.checked = obj.checked;
                            });
                        }

                        function addBanner(obj) {
                            var $ul = $(obj).parents('div').first().next();
                            var cate = $ul.attr('cate').toNumeric();
                            var child = $ul.attr('child').toNumeric();
                            var max = $ul.attr('max').toNumeric();

                            if (max > 0 && max <= $ul.children().length) {
                                alert("더 이상 추가할 수 없습니다.\n\n최대 " + max + "개까지 추가할 수 있습니다.");
                                return false;
                            }

                            $.laybox({
                                type: 'iframe',
                                source: 'category_slide_banner_reg.ifrm?akind=CATE_SLIDE' + (cate ? '&cate=' + cate : '') + (child ? '&child=' + child : '')
                            });
                        }

                        function editBanner(idx) {
                            $.laybox({
                                type: 'iframe',
                                source: 'category_slide_banner_reg.ifrm?akind=CATE_SLIDE&idx=' + idx
                            });
                        }

                        function removeBanner(obj) {
                            $(obj).parents('div').first().next().find('input:checkbox[name="cbBanner"]:checked').each(function() {
                                $(this).parent().remove();
                            });
                        }

                        function getBannerItem(idx, cate, child) {
                            var $ul = $('ul[cate="' + cate + '"][child="' + child + '"]');
                            if ($ul.length) {
                                $.ajax({
                                    type: "POST",
                                    url: "category_slide_banner_item.ajax",
                                    data: {
                                        idx: idx
                                    },
                                    error: function(request, status, error) {
                                        alert(request.responseText)
                                    },
                                    success: function(data) {
                                        var $input = $('input:checkbox[name="cbBanner"][value="' + idx + '"]');
                                        var $li = ($input.length ? $input.parent() : $('<li />').appendTo($ul));
                                        $li.empty().html(data);

                                        $('.banner', $li).adjustImage({
                                            type: 'both-min',
                                            parent: '.banner'
                                        });
                                        $('.original', $li).laybox();

                                        $.laybox.close();
                                    }
                                });
                            }
                        }

                        function saveBanner(obj) {
                            var $ul = $(obj).parents('div').first().next();
                            var banner = '0';

                            $ul.find('input:checkbox[name="cbBanner"]').each(function() {
                                banner += ',' + this.value;
                            });

                            if (confirm("설정 내역으로 저장하시겠습니까?")) {
                                var params = {
                                    mode: 'SAVE',
                                    akind: 'CATE_SLIDE',
                                    cate: $ul.attr('cate'),
                                    child: $ul.attr('child'),
                                    idx: banner
                                };

                                $('#FrmBanner').remove();

                                var $form = $('<form id="FrmBanner" />').attr({
                                    method: 'post',
                                    action: 'category_slide_banner.act',
                                    target: 'frmProc',
                                    enctype: 'multipart/form-data'
                                }).appendTo('body');

                                $.each(params, function(key) {
                                    $('<input type="hidden" name="' + key + '" />').val(this).appendTo($form);
                                });
                                $form.submit();
                            }
                        }

                        $(function() {
                            $('.sortable_banner').sortable({
                                handle: '.mover',
                                opacity: 0.7
                            }).disableSelection();
                            $('.banner', '.sortable').adjustImage({
                                type: 'both-min',
                                parent: '.banner'
                            });
                            $('.original', '.sortable').laybox();
                        });
                        //]]>
                    </script>



                    <div id="cateTreeDragHelper" style="display: none; position: absolute; padding: 3px; border: 1px solid rgb(119, 119, 119); background-color: rgb(240, 240, 240); color: rgb(51, 51, 51); font-weight: bold; font-family: dotum; font-size: 12px; opacity: 0.9;"></div>

                    </body>

                    </html>