<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>판매자 공지사항</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>입점업체관리</li>
                    <li>판매자관리</li>
                    <li class="on">판매자 공지사항</li>
                </ul>
                <ul class="helpbox">
                    <li>입점업체에게 공지하고 싶은 내용을 적어 주세요.</li>
                </ul>
                <!-- 게시판 : 시작 -->

                <link rel="stylesheet" type="text/css" href="/css/board.css">



                <div style="width:100%;margin:0 auto;overflow:hidden">


                    <form name="Frm" method="get" onsubmit="return validSearch(this)">
                        <input type="hidden" name="board" value="mim_notice">


                        <div class="board_total">

                            <p>Total : 0, 1 / 1 Pages</p>
                        </div>
                        <table class="board_cols">
                            <caption>게시판 목록</caption>
                            <colgroup>

                                <col width="40">

                                <col width="60">

                                <col width="*">
                                <col width="120">
                                <col width="120">
                                <col width="80">
                            </colgroup>
                            <thead>
                                <tr>

                                    <th scope="col"><input type="checkbox" name="cbAll" onclick="checkCbAll(this.form.pidx, this.checked)"></th>

                                    <th scope="col">번호</th>

                                    <th scope="col">제목</th>
                                    <th scope="col">글쓴이</th>
                                    <th scope="col">등록일</th>
                                    <th scope="col" class="bg_none">조회수</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td colspan="6" class="data_none">해당 게시판의 글이 존재하지 않습니다.</td>
                                </tr>

                            </tbody>
                        </table>


                        <!-- 버튼 -->
                        <div class="buttons_wide_box">
                            <ul class="buttons_inline">


                                <li>
                                    <button type="button" onclick="delList()" class="border">삭제</button>
                                    <select id="targetBoard" name="targetBoard"><option value="">:: 게시판 선택 ::</option><option value="notice" btype="100">공지사항</option><option value="community" btype="100">고객게시판</option><option value="mim_notice" btype="100">입점업체 공지사항</option><option value="mim_qna" btype="100">입점업체 게시판</option><option value="mim_pds" btype="300">입점업체 자료실</option><option value="qna_board" btype="100">묻고 답하기</option><option value="webzine" btype="400">웹진형게시판</option><option value="album" btype="200">앨범형게시판</option></select>
                                    <button type="button" onclick="moveList()" class="border">이동</button>
                                    <button type="button" onclick="copyList()" class="border">복사</button>
                                </li>

                                <li class="right">
                                    <a href="/board/write?board=mim_notice&board_group=0">새글쓰기</a>
                                </li>
                            </ul>
                        </div>
                        <!-- //버튼 -->

                        <!-- paging -->
                        <div class="board_paging">
                            <ul>
                                <li><a href="/board/list?page=1&board=mim_notice&board_group=0&"><strong>1</strong></a></li>
                            </ul>

                        </div>
                        <!-- //paging -->

                        <!-- 검색 -->
                        <div class="board_search">
                            <strong><span class="x_highlight">입점업체 공지사항</span> 검색</strong>
                            <select id="skey" name="skey"><option value="subject">제목</option><option value="writer">글쓴이</option><option value="content">내용</option></select>

                            <input type="text" size="30" name="sword" value="">
                            <button type="submit">검색</button>
                        </div>
                        <!-- //검색 -->


                    </form>


                </div>

                <!-- 게시판 : 끝 -->


                <%- include('../inc/footer') %>
                    <script type="text/javascript">
                        //<![CDATA[
                        function validSearch(f) {
                            if (f.targetBoard) {
                                f.targetBoard.disabled = true;
                            }
                        }

                        function change() {
                            var f = document.Frm;
                            validSearch(f)
                            f.submit();
                        }


                        function del(idx) {
                            var f = document.Frm;

                            if (confirm("선택한 게시물을 삭제하시겠습니까?\n\n-답글이 존재할 경우 답글도 함께 삭제됩니다.")) {
                                addInput(f, 'hidden', 'board_path', "/nmanager/board");
                                addInput(f, 'hidden', 'pidx', idx);
                                addInput(f, 'hidden', 'params', "page=");

                                f.method = "post";
                                f.action = "/_lib/board/del.act";
                                f.submit();
                            }
                        }


                        $(function() {
                            $('.adjust_image_container').adjustImage();
                        });
                        //]]>
                    </script>


                    <script type="text/javascript">
                        //<![CDATA[
                        function delList() {
                            var f = document.Frm;

                            if (typeof(f.pidx) == 'undefined') {
                                return false;
                            }

                            var checker = 0;
                            if (typeof(f.pidx.length) == "undefined") {
                                if (f.pidx.checked) ++checker;
                            } else {
                                for (var i = 0; i < f.pidx.length; i++) {
                                    if (f.pidx[i].checked) ++checker;
                                }
                            }

                            if (checker == 0) {
                                alert("삭제할 게시물을 선택해 주세요.");
                                return false;
                            }

                            if (confirm("선택한 게시물을 삭제하시겠습니까?\n\n-답글이 존재할 경우 답글도 함께 삭제됩니다.")) {
                                addInput(f, 'hidden', 'mode', "DEL");
                                addInput(f, 'hidden', 'redirect', document.URL);

                                f.method = "post";
                                f.action = "/_lib/board/manage.act";
                                f.submit();
                            }
                        }

                        function moveList() {
                            var f = document.Frm;

                            if (typeof(f.pidx) == 'undefined') {
                                return false;
                            }

                            var checker = 0;
                            if (typeof(f.pidx.length) == "undefined") {
                                if (f.pidx.checked) {
                                    if (f.pidx.getAttribute('thread').toString().toNumeric() > 1) {
                                        alert("답글은 이동할 수 없습니다.");
                                        return false;
                                    }
                                    ++checker;
                                }
                            } else {
                                for (var i = 0; i < f.pidx.length; i++) {
                                    if (f.pidx[i].checked) {
                                        if (f.pidx[i].getAttribute('thread').toString().toNumeric() > 1) {
                                            alert("답글은 이동할 수 없습니다.");
                                            return false;
                                        }
                                        ++checker;
                                    }
                                }
                            }

                            if (checker == 0) {
                                alert("이동할 게시물을 선택해 주세요.");
                                return false;
                            }

                            if (isEmpty(f.targetBoard)) {
                                alert("게시판을 선택해 주세요.");
                                f.targetBoard.focus();
                                return false;
                            }
                            /*
                                var objOption = f.targetBoard.options[f.targetBoard.selectedIndex];
                                if (objOption.getAttribute('btype') == '200') {
                                    switch ('100') {
                                        case '100':
                                        case '300':
                                            alert("현재 게시판의 게시물은 앨범형 게시판으로 이동할 수 없습니다.");
                                            f.targetBoard.focus();
                                            return false;
                                        break;
                                    }
                                }
                            */
                            if (confirm("선택한 게시물을 이동하시겠습니까?\n\n-답글이 존재할 경우 답글도 함께 이동됩니다.")) {
                                addInput(f, 'hidden', 'mode', "MOVE");
                                addInput(f, 'hidden', 'redirect', document.URL);

                                f.method = "post";
                                f.action = "/_lib/board/manage.act";
                                f.submit();
                            }
                        }

                        function copyList() {
                            var f = document.Frm;

                            if (typeof(f.pidx) == 'undefined') {
                                return false;
                            }

                            var checker = 0;
                            if (typeof(f.pidx.length) == "undefined") {
                                if (f.pidx.checked) ++checker;
                            } else {
                                for (var i = 0; i < f.pidx.length; i++) {
                                    if (f.pidx[i].checked) ++checker;
                                }
                            }

                            if (checker == 0) {
                                alert("복사할 게시물을 선택해 주세요.");
                                return false;
                            }

                            if (isEmpty(f.targetBoard)) {
                                alert("게시판을 선택해 주세요.");
                                f.targetBoard.focus();
                                return false;
                            }
                            /*
                                var objOption = f.targetBoard.options[f.targetBoard.selectedIndex];
                                if (objOption.getAttribute('btype') == '200') {
                                    switch ('100') {
                                        case '100':
                                        case '300':
                                            alert("현재 게시판의 게시물은 앨범형 게시판으로 복사할 수 없습니다.");
                                            f.targetBoard.focus();
                                            return false;
                                        break;
                                    }
                                }
                            */
                            if (confirm("선택한 게시물을 복사하시겠습니까?")) {
                                addInput(f, 'hidden', 'mode', "COPY");
                                addInput(f, 'hidden', 'redirect', document.URL);

                                f.method = "post";
                                f.action = "/_lib/board/manage.act";
                                f.submit();
                            }
                        }
                        //]]>
                    </script>


                    </body>

                    </html>