<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>판매자 공지사항</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>입점업체관리</li>
                    <li>판매자관리</li>
                    <li class="on">판매자 공지사항</li>
                </ul>
                <ul class="helpbox">
                    <li>입점업체에게 공지하고 싶은 내용을 적어 주세요.</li>
                </ul>
                <!-- 입력폼 : 시작 -->

                <link rel="stylesheet" type="text/css" href="/css/board.css">


                <div style="width:100%;margin:0 auto;overflow:hidden">


                    <form name="Frm" method="post" action="/_lib/board/write.act" enctype="multipart/form-data">
                        <input type="hidden" name="board" value="mim_notice">
                        <input type="hidden" name="board_group" value="0">
                        <input type="hidden" name="board_path" value="/nmanager/board">
                        <input type="hidden" name="mode" value="REG">
                        <input type="hidden" name="pidx" value="0">
                        <input type="hidden" name="params" value="">

                        <input type="hidden" name="orgThumb" value="">


                        <!-- 글쓰기 -->
                        <table class="board_rows board_form">
                            <caption>게시판 글쓰기</caption>
                            <colgroup>
                                <col width="160">
                                <col width="*">
                                <col width="160">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">제목</th>
                                    <td colspan="3">
                                        <input type="text" name="subject" value="" maxlength="100" class="w90p">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">글쓴이</th>
                                    <td>
                                        <input type="text" name="writer" value="몰인몰" maxlength="50" readonly="" class="w90p">
                                    </td>
                                    <th scope="row">이메일</th>
                                    <td>
                                        <input type="text" name="email" value="master@mallstore.co.kr" maxlength="100" class="w90p">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">비밀번호</th>
                                    <td colspan="3">
                                        <input type="text" name="pw" value="" maxlength="20">

                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="4" class="editor">
                                        <div class="editor_container"><textarea name="content" style="width: 100%; height: 350px; display: none;" id="content-placeholder"></textarea><iframe id="__se2_frame_content-placeholder" name="__se2_frame_content-placeholder" frameborder="0"
                                                scrolling="no" style="width: 100%; height: 397px;" src="./몰인몰 관리자사이트_files/SmartEditor2Skin.html"></iframe></div>

                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">링크 URL 1</th>
                                    <td colspan="3">
                                        <input type="text" name="linkUrl1" value="http://" maxlength="150" class="w90p">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">링크 URL 2</th>
                                    <td colspan="3">
                                        <input type="text" name="linkUrl2" value="http://" maxlength="150" class="w90p">
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">첨부</th>
                                    <td colspan="3" class="attach">
                                        <p>* 최대 7MB 까지 업로드가 가능합니다.</p>
                                        <div class="buttons_inline">
                                            <button type="button" onclick="addAttach(this)">추가</button>
                                            <button type="button" onclick="removeAttach(this)" class="border">삭제</button>
                                        </div>
                                        <table max="5">
                                            <caption>게시판 첨부</caption>
                                            <colgroup>
                                                <col width="30">
                                                <col width="270">
                                                <col width="*">
                                            </colgroup>
                                            <tbody>

                                                <tr>
                                                    <td><input type="checkbox" name="cbAttach"><input type="hidden" name="attachNo"></td>
                                                    <td><input type="file" size="20" name="attach" onkeypress="blockKey(event)" onkeydown="blockKey(event)"></td>
                                                    <td></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">숨김 여부</th>
                                    <td>
                                        <input type="checkbox" id="is_hidden" name="isHidden" value="T"><label for="is_hidden">현재 게시물을 숨김</label>
                                    </td>
                                    <th scope="row">관리자 공지</th>
                                    <td>
                                        <input type="checkbox" id="is_notice" name="isNotice" value="T"><label for="is_notice">관리자 공지글로 등록</label>
                                    </td>
                                </tr>

                            </tbody>
                        </table>


                        <!-- 버튼 -->
                        <div class="buttons_box">
                            <button type="button" onclick="validSubmit()">획인</button>
                            <a href="javascript:;" onclick="cancel(); return false;" class="border">취소</a>
                        </div>
                        <!-- //버튼 -->

                    </form>


                </div>

                <!-- 입력폼 : 끝 -->



                <%- include('../inc/footer') %>


                    <script type="text/javascript">
                        //<![CDATA[
                        function checkForm(f) {
                            if (f.attach) {
                                if (typeof(f.attach.length) == 'undefined') {
                                    if (!isEmpty(f.attach) && !checkFileName(f.attach)) return false;
                                } else {
                                    for (var i = 0; i < f.attach.length; i++) {
                                        if (!isEmpty(f.attach[i]) && !checkFileName(f.attach[i])) return false;
                                    }
                                }
                            }

                            return true;
                        }
                        //]]>
                    </script>

                    <script type="text/javascript">
                        //<![CDATA[
                        nhn.husky.EZCreator.createInIFrame({
                            elPlaceHolder: 'content',
                            htParams: {
                                bUseAttachPhoto: true
                            }
                        });
                        //]]>
                    </script>


                    <!-- 에디터 Script -->
                    <script type="text/javascript" src="/js/HuskyEZCreator.js"></script>
                    <script type="text/javascript">
                        //<![CDATA[
                        var cellHtmls = new Array();
                        cellHtmls[0] = '<input type="checkbox" name="cbAttach" /><input type="hidden" name="attachNo" />';
                        cellHtmls[1] = '<input type="file" size="20" class="txt" name="attach" onKeyPress="blockKey(event)" onKeyDown="blockKey(event)" />';
                        cellHtmls[2] = '';

                        function addAttach(obj) {
                            var objTb = $(obj).parents('td').find('table')[0];
                            var maxSize = (objTb.getAttribute('max') != null ? objTb.getAttribute('max').toString().toNumeric() : 0);
                            var rowSize = objTb.rows.length;

                            if (maxSize > 0 && rowSize >= maxSize) {
                                alert("더 이상 추가할 수 없습니다.");
                                return false;
                            }

                            var objRow = objTb.insertRow(rowSize);

                            for (i = 0; i < cellHtmls.length; i++) {
                                var objCell = objRow.insertCell(i);
                                objCell.innerHTML = cellHtmls[i];
                            }

                            return true;
                        }

                        function removeAttach(obj) {
                            var f = document.Frm;
                            var objTb = $(obj).parents('td').find('table')[0];

                            for (var i = objTb.rows.length - 1; i > -1; i--) {
                                if ($(objTb.rows[i]).find('input[type="checkbox"]').is(':checked')) {
                                    $(objTb.rows[i]).remove();
                                }
                            }

                            if (objTb.rows.length < 1) addAttach(obj);

                            return true;
                        }

                        function onCaptcha(obj) {
                            obj.value = obj.value.toUpperCase();
                        }

                        function validSubmit() {
                            var f = document.Frm;

                            if (isEmpty(f.subject)) {
                                alert("제목을 입력해 주세요.");
                                f.subject.focus();
                                return false;
                            }

                            if (isEmpty(f.writer)) {
                                alert("글쓴이를 입력해 주세요.");
                                f.writer.focus();
                                return false;
                            }

                            if (f.email) {
                                if (isEmpty(f.email)) {
                                    alert("이메일을 입력해 주세요.");
                                    f.email.focus();
                                    return false;
                                }

                                if (!checkEmail(f.email.value)) {
                                    alert("이메일을 정확하게 입력해 주세요.");
                                    f.email.focus();
                                    return false;
                                }
                            }

                            if (f.pw) {
                                if (isEmpty(f.pw)) {
                                    alert("비밀번호를 입력해 주세요.\n수정, 삭제시 필요합니다.");
                                    f.pw.focus();
                                    return false;
                                }

                                switch (checkInvalidPw(null, f.pw.value, 4, 10)) {
                                    case 2:
                                        alert("비밀번호는 영문 대/소문자, 숫자를 조합하여 4~10자리로 해주세요.");
                                        return false;
                                }
                            }

                            if (isEmpty(f.content)) {
                                alert("내용을 입력해 주세요.");
                                return false;
                            }

                            if (!checkForm(f)) return false;

                            if (f.captcha && isEmpty(f.captcha)) {
                                alert("스팸방지 키를 입력해 주세요.");
                                f.captcha.focus();
                                return false;
                            }

                            if (confirm("게시물을 등록하시겠습니까?")) {
                                f.target = "frmProc";
                                f.submit();
                            }
                        }

                        function cancel() {

                            location.href = "list?board=mim_notice&board_group=0"

                        }

                        $(function() {
                            $('.adjust_image_container').adjustImage();
                        });
                        //]]>
                    </script>

                    </body>

                    </html>