<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>주문상담</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>주문/매출관리</li>
                    <li>주문관리</li>
                    <li class="on">주문상담</li>
                </ul>
                <ul class="helpbox">
                    <li>주문상담 상세페이지입니다.</li>
                </ul>


                <div class="section_head">
                    <h4><i class="xi-check-circle"></i> 회원기본정보</h4>
                </div>

                <table class="t_list">
                    <caption>회원기본정보 내역</caption>
                    <colgroup>
                        <col width="80">
                        <col width="100">
                        <col width="100">
                        <col width="120">
                        <col width="200">
                        <col width="*">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>등급</th>
                            <th>이름</th>
                            <th>전화번호</th>
                            <th>휴대번호</th>
                            <th>주소</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>일반회원</td>
                            <td>조선한</td>
                            <td>031-5109-4248</td>
                            <td>010-5109-4248</td>
                            <td>서울 강서구 양천로 520 202 (등촌동, 강변샤르망1단지)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <div class="mgt20">
                    <div class="section_head">
                        <h4><i class="xi-check-circle"></i> 주문내역</h4>
                    </div>
                    <table class="t_list">
                        <caption>주문내역</caption>
                        <colgroup>
                            <col width="30">
                            <col width="95">
                            <col width="75">
                            <col width="75">
                            <col width="*">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="80">
                            <col width="50">
                            <col width="80">
                            <col width="60">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>주문번호</th>
                                <th>주문일자</th>
                                <th>입금일자</th>
                                <th>주문상품</th>
                                <th>진행상태</th>
                                <th>결제상태</th>
                                <th>결제방법</th>
                                <th>수령인</th>
                                <th>수량</th>
                                <th>금액</th>
                                <th>메뉴</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td colspan="12"> 저장된 주문정보가 존재하지 않습니다.</td>
                            </tr>

                        </tbody>
                    </table>

                </div>


                <div class="mgt20">
                    <div class="section_head">
                        <h4><i class="xi-check-circle"></i> 1:1상담내역</h4>
                    </div>
                    <table class="t_list">
                        <caption>1:1상담내역</caption>
                        <colgroup>
                            <col width="30">
                            <col width="80">
                            <col width="100">
                            <col width="*">
                            <col width="100">
                            <col width="100">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>구분</th>
                                <th>문의자</th>
                                <th>내용</th>
                                <th>답변자</th>
                                <th>문의날자</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td colspan="6">저장된 상담내역이 존재하지 않습니다.</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div style="margin-top:20px">
                    <div class="section_head">
                        <h4><i class="xi-check-circle"></i> 전화상담내역</h4>
                        <div><span class="button small black"><button type="button" onclick="openRegist()">입력하기</button></span></div>
                    </div>
                    <table class="t_list">
                        <caption>전화상담내역</caption>
                        <colgroup>
                            <col width="50">
                            <col width="20%">
                            <col width="*">
                            <col width="11%">
                            <col width="20%">
                            <col width="50">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>주제</th>
                                <th>질문</th>
                                <th>답변자</th>
                                <th>문의날짜</th>
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td colspan="6">상담내역이 존재하지 않습니다.</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="btn_center">
                    <button type="button" class="btn btn-default" onclick="list()">목록으로</button>
                </div>




                <%- include('../inc/footer') %>

                    <script type="text/javascript">
                        //<![CDATA[
                        function list() {
                            location.href = "consult_list?skey=&sword=&page=";
                        }
                        //]]>
                    </script>

                    </body>

                    </html>