<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>판매자상품관리</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>입점업체관리</li>
                    <li>판매자상품관리</li>
                    <li class="on">판매자상품관리</li>
                </ul>
                <ul class="helpbox">
                    <li>판매자의 상품을 관리하는 곳입니다.</li>
                </ul>


                <form name="sFrm" method="get" action="/mim/goods_list">
                    <input type="hidden" name="menu" value="list">
                    <input type="hidden" name="psort" value="no_desc">
                    <input type="hidden" name="psize" value="20">

                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="t_form">
                        <caption>검색 폼</caption>
                        <colgroup>
                            <col width="130">
                            <col width="">
                            <col width="130">
                            <col width="">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>상품검색</th>
                                <td>
                                    <select id="skey" name="skey"><option value="name">상품명</option><option value="code">상품키</option><option value="dealer">판매자ID</option></select>

                                    <input type="text" name="sword" class="text_input" style="width:120px" value="">
                                    <span class="button small black"><button type="submit">검색</button></span>
                                </td>
                                <th>정렬</th>
                                <td>
                                    <a href="/mim/goods_list?menu=list"><strong class="red">전체</strong></a> &nbsp;
                                    <a href="/mim/goods_list?menu=reg">등록신청</a> &nbsp;
                                    <a href="/mim/goods_list?menu=edit">수정신청</a> &nbsp;
                                    <a href="/mim/goods_list?menu=del">삭제신청</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </form>

                <form name="Frm" method="post">
                    <input type="hidden" name="menu" value="list">
                    <input type="hidden" name="gno">
                    <input type="hidden" name="params" value="menu=list^skey=^sword=^psort=no_desc^psize=20^page=">

                    <div class="section_head">
                        <h4>전체상품목록 - 총 27개의 상품이 검색되었습니다.</h4>
                        <div>
                            <select id="psize" name="psize" onchange="changeList();"><option value="10">10줄씩보기</option><option value="20" selected="">20줄씩보기</option><option value="30">30줄씩보기</option><option value="50">50줄씩보기</option><option value="100">100줄씩보기</option></select>

                        </div>
                    </div>

                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="t_list">
                        <caption>판매자 상품 목록</caption>
                        <colgroup>
                            <col width="60">
                            <col width="10%">
                            <col width="60">
                            <col width="*">
                            <col width="27%">
                            <col width="80">
                            <col width="50">
                        </colgroup>
                        <thead>
                            <tr>
                                <th><span onclick="setSort('no_asc')" style="font-size:8pt; cursor:pointer;">▲</span>No<span onclick="setSort('no_desc')" style="font-size:8pt; cursor:pointer;">▼</span></th>
                                <th><span onclick="setSort('dealer_asc')" style="font-size:8pt; cursor:pointer;">▲</span>업체명<span onclick="setSort('dealer_desc')" style="font-size:8pt; cursor:pointer;">▼</span></th>
                                <th colspan="2">상품명</th>
                                <th>희망카테고리</th>
                                <th>관리</th>
                                <th><input type="checkbox" name="cbAll" onclick="checkCbAll(this.form.cbList, this.checked)"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr onmouseover="this.style.backgroundColor='#FDFAE8'" onmouseout="this.style.backgroundColor='#FFFFFF'" style="background-color: rgb(255, 255, 255);">
                                <td>27</td>
                                <td>내친구몰<br>(dealers)</td>
                                <td><img src="/img/43.jpg" width="50" height="50"></td>
                                <td class="left">
                                    <a href="http://mimd.mallstore.co.kr/goods/detail.asp?gno=234" target="_blank"><strong>[NCGN] Sports Goggle</strong></a>

                                    <div class="mgt5">
                                        <span>공급가 : </span><span class="red">\42,500</span> &nbsp;(15% 수수료)<br>
                                        <span>판매가 : </span><span class="red">\50,000</span>
                                        <span>시중가 :</span><span class="light_gray">\0</span>
                                    </div>
                                </td>
                                <td class="left">
                                    <ul class="font11">
                                        <li class="mgt3">OUTER&gt;가디건&gt;라운드가디건</li>
                                        <li class="mgt3">OUTER&gt;코트&gt;트렌치코트</li>

                                    </ul>
                                </td>
                                <td>

                                    <span class="button small"><a href="http://mimd.mallstore.co.kr/goods/detail.asp?gno=234" target="_blank">상세정보</a></span>

                                    <div class="mgt5">

                                        <span class="button small"><button type="button" onclick="edit(234)">수정</button></span>

                                        <span class="button small"><button type="button" onclick="del(234)">삭제</button></span>
                                    </div>
                                </td>
                                <td><input type="checkbox" name="cbList" value="234"></td>
                            </tr>


                        </tbody>
                    </table>

                    <div class="paging">
                        <span><a href="/mim/goods_list?page=1&menu=list&skey=&sword=&psort=no_desc&psize=20"><strong>1</strong></a><a href="/mim/goods_list.asp?page=2&menu=list&skey=&sword=&psort=no_desc&psize=20">2</a></span>
                    </div>

                    <div class="btn_right">
                        <span class="button large black"><button type="button" onclick="delList()">선택삭제</button></span>

                    </div>

                </form>


                <%- include('../inc/footer') %>


                    <script type="text/javascript">
                        //<![CDATA[
                        function changeList() {
                            var f = document.Frm;
                            var sf = document.sFrm;

                            sf.psize.value = f.psize.options[f.psize.selectedIndex].value;
                            sf.submit();
                        }

                        function setSort(psort) {
                            var f = document.sFrm;

                            f.psort.value = psort;
                            f.submit();
                        }
                        //]]>
                    </script>

                    <script type="text/javascript">
                        //<![CDATA[
                        function edit(gno) {
                            location.href = "goods_edit?menu=list&gno=" + gno + "&params=menu=list^skey=^sword=^psort=no_desc^psize=20^page=";
                        }

                        function del(gno) {
                            var f = document.Frm;
                            var msg;

                            if (f.menu.value == "list") {
                                msg = "선택된 상품을 휴지통에 버리시겠습니까?";
                            } else if (f.menu.value == "reg") {
                                msg = "선택된 신청 상품을 목록에서 삭제하시겠습니까?";
                            } else if (f.menu.value == "edit") {
                                msg = "선택된 수정신청 상품을 목록에서 삭제하시겠습니까?";
                            } else if (f.menu.value == "del") {
                                msg = "선택된 삭제신청 상품을 신청거부하시겠습니까?";
                            }
                            if (confirm(msg)) {
                                f.gno.value = gno;
                                f.action = "goods_del.act.asp";
                                f.submit();
                            }
                        }

                        function delList() {
                            var f = document.Frm;
                            var items = "";
                            var msg;

                            if (!f.cbList) return false;

                            if (typeof(f.cbList.length) == "undefined") {
                                if (f.cbList.checked) items = f.cbList.value;
                            } else {
                                for (var i = 0; i < f.cbList.length; i++) {
                                    if (f.cbList[i].checked) {
                                        items += (items ? "," : "") + f.cbList[i].value;
                                    }
                                }
                            }

                            if (items == "") {
                                alert("삭제할 상품을 선택해 주세요.");
                                return false;
                            }

                            if (f.menu.value == "list") {
                                msg = "선택된 상품을 휴지통으로 이동시키겠습니까?";
                            } else if (f.menu.value == "reg") {
                                msg = "선택된 신청 상품을 신청거부하시겠습니까?";
                            } else if (f.menu.value == "edit") {
                                msg = "선택된 수정신청 상품을 신청거부하시겠습니까?";
                            } else if (f.menu.value == "del") {
                                msg = "선택된 삭제신청 상품을 신청거부하시겠습니까?";
                            }
                            if (confirm(msg)) {
                                f.gno.value = items;
                                f.action = "goods_del.act.asp";
                                f.submit();
                            }
                        }

                        function confirmList() {
                            var f = document.Frm;
                            var items = "";
                            var msg;

                            if (!f.cbList) return false;

                            if (typeof(f.cbList.length) == "undefined") {
                                if (f.cbList.checked) items = f.cbList.value;
                            } else {
                                for (var i = 0; i < f.cbList.length; i++) {
                                    if (f.cbList[i].checked) {
                                        items += (items ? "," : "") + f.cbList[i].value;
                                    }
                                }
                            }

                            if (items == "") {
                                alert("승인할 상품을 선택해 주세요.");
                                return false;
                            }

                            if (f.menu.value == "reg") {
                                msg = "선택된 신청 상품을 등록 승인하시겠습니까?";
                            } else if (f.menu.value == "edit") {
                                msg = "선택된 수정신청 상품을 수정 승인하시겠습니까?";
                            } else if (f.menu.value == "del") {
                                msg = "선택된 삭제신청 상품을 삭제 승인하시겠습니까?\n승인하시면 해당 삭제신청상품은 휴지통으로 이동됩니다.";
                            }
                            if (confirm(msg)) {
                                f.gno.value = items;
                                f.action = "goods_confirm.act.asp";
                                f.submit();
                            }
                        }

                        function returnList() {
                            var f = document.Frm;
                            var items = "";
                            var msg;

                            if (!f.cbList) return false;

                            if (typeof(f.cbList.length) == "undefined") {
                                if (f.cbList.checked) items = f.cbList.value;
                            } else {
                                for (var i = 0; i < f.cbList.length; i++) {
                                    if (f.cbList[i].checked) {
                                        items += (items ? "," : "") + f.cbList[i].value;
                                    }
                                }
                            }

                            if (items == "") {
                                alert("반려할 상품을 선택해 주세요.");
                                return false;
                            }

                            if (f.menu.value == "reg") {
                                msg = "선택된 등록신청 상품을 반려하시겠습니까?";
                            } else if (f.menu.value == "edit") {
                                msg = "선택된 수정신청 상품을 반려하시겠습니까?";
                            }
                            if (confirm(msg)) {
                                f.gno.value = items;
                                f.action = "goods_return.act.asp";
                                f.submit();
                            }
                        }
                        //]]>
                    </script>

                    </body>

                    </html>