<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>1:1문의관리</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>운영관리</li>
                    <li>고객운영관리</li>
                    <li class="on">1:1문의관리</li>
                </ul>
                <ul class="helpbox">
                    <li>1:1문의를 관리하실 수 있습니다.</li>
                </ul>




                <form name="Frm">
                    <input type="hidden" name="mode" value="REG">
                    <input type="hidden" name="idx" value="27">
                    <input type="hidden" name="params" value="sconsult=^skey=^sword=^page=">

                    <div class="section_head">
                        <h4>질문</h4>
                    </div>

                    <table class="t_form">
                        <caption>등록된 질문 내역</caption>
                        <colgroup>
                            <col width="130">
                            <col width="*">
                            <col width="130">
                            <col width="*">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>분류</th>
                                <td colspan="3">
                                    배송관련
                                </td>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <td colspan="3">
                                    배송문의
                                </td>
                            </tr>
                            <tr>
                                <th>작성자</th>
                                <td>
                                    mallstore
                                </td>
                                <th>등록일</th>
                                <td>
                                    2019-06-18
                                </td>
                            </tr>
                            <tr>
                                <th>이메일</th>
                                <td colspan="3">
                                    joonh0911@ncgn.co.kr
                                </td>
                            </tr>
                            <tr>
                                <th>휴대폰</th>
                                <td colspan="3">
                                    010-0000-0000
                                </td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td colspan="3">
                                    언제배송됩니까
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="over_h mgt5">
                        <div class="fl">
                            <span class="button large black"><button type="button" onclick="list()">목록으로</button></span>
                        </div>
                        <div class="fr">
                            <span class="button large black"><button type="button" onclick="del()">삭제하기</button></span>
                        </div>
                    </div>

                    <div class="section_head">
                        <h4>답변</h4>
                    </div>

                    <table class="t_form">
                        <caption>답변 내용</caption>
                        <colgroup>
                            <col width="130">
                            <col width="*">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>답변제목</th>
                                <td>
                                    <input name="subject" value="" class="text_input" style="width:98%" maxlength="50">
                                </td>
                            </tr>
                            <tr>
                                <th>답변내용</th>
                                <td>
                                    <textarea name="content" class="text_input" style="height:200px;width:98%"></textarea>
                                </td>
                            </tr>


                        </tbody>
                    </table>

                    <div class="btn">
                        <span class="button large black"><button type="button" onclick="validSubmit()">확인</button></span>

                    </div>

                </form>



                <%- include('../inc/footer') %>

                    <script type="text/javascript">
                        //<![CDATA[
                        function del(reply) {
                            var f = document.Frm;
                            var msg;

                            if (typeof(reply) == 'undefined') reply = 0;

                            if (reply) {
                                mode = "DEL_REPLY"
                                msg = "답변을 삭제하시겠습니까?";
                            } else {
                                mode = "DEL"
                                msg = "질문을 삭제하시겠습니까?\n(답변이 등록되어있는 경우 함께 삭제됩니다.)";
                            }

                            if (confirm(msg)) {
                                f.mode.value = mode;
                                f.action = "inquiry.act";
                                f.submit();
                            }
                        }
                        //]]>
                    </script>

                    <script type="text/javascript">
                        //<![CDATA[
                        function validSubmit() {
                            var f = document.Frm;

                            if (isEmpty(f.subject)) {
                                alert("제목을 입력해주세요.");
                                f.subject.focus();
                                return false;
                            }

                            if (isEmpty(f.content)) {
                                alert("내용을 입력해주세요.");
                                f.content.focus();
                                return false;
                            }

                            if (confirm("답변을 등록하시겠습니까?")) {
                                f.action = "inquiry.act"
                                f.submit();
                            }
                        }

                        function list() {
                            location.href = "inquiry_list?sconsult=&skey=&sword=&page=";
                        }
                        //]]>
                    </script>

                    </body>

                    </html>