<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>이벤트(일반) 관리</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>디자인관리</li>
                    <li>이벤트관리</li>
                    <li class="on">이벤트(일반) 관리</li>
                </ul>
                <ul class="helpbox">
                    <li>이벤트를 생성하고 관리하는 페이지입니다.</li>
                </ul>

                <form name="Frm" method="post">
                    <input type="hidden" name="method" value="100">
                    <input type="hidden" name="mode">
                    <input type="hidden" name="idx">
                    <input type="hidden" name="params" value="method=100^page=">

                    <div class="box">
                        <div class="section_head">
                            <h4>총 <span><strong>2</strong></span>개의 정보가 등록되어있습니다.</h4>
                        </div>
                        <table class="t_list">
                            <caption>이벤트 목록</caption>
                            <colgroup>
                                <col width="35">
                                <col width="200">
                                <col width="150">
                                <col width="80">
                                <col width="*">
                                <col width="80">
                                <col width="80">
                                <col width="200">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>제목</th>
                                    <th>입점업체</th>
                                    <th>기간</th>
                                    <th>링크경로 ＆ 미리보기</th>
                                    <th>진행상태</th>
                                    <th>등록일</th>
                                    <th>관리</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>2</td>
                                    <td style="word-wrap:break-word; word-break:break-all;">몰스토어 이벤트 시즌2</td>
                                    <td>본사</td>
                                    <td>2017-08-01<br>~<br>2018-08-31</td>

                                    <td style="word-wrap:break-word; word-break:break-all;"><a href="/goods/event/" target="_blank">http://mimd.mallstore.co.kr/goods/event.asp?idx=52</a></td>
                                    <td><strong style="color:#CC0000">종료</strong></td>
                                    <td>2017-08-31</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-secondary" onclick="edit(52)">수정</button>
                                        <button type="button" class="btn btn-sm btn-danger" onclick="del(52)">삭제</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td style="word-wrap:break-word; word-break:break-all;">몰스토어 이벤트 시즌1</td>
                                    <td>본사</td>
                                    <td>2017-08-01<br>~<br>2017-08-31</td>

                                    <td style="word-wrap:break-word; word-break:break-all;"><a href="/goods/event" target="_blank">http://mimd.mallstore.co.kr/goods/event.asp?idx=51</a></td>
                                    <td><strong style="color:#CC0000">종료</strong></td>
                                    <td>2017-08-31</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-secondary" onclick="edit(51)">수정</button>
                                        <button type="button" class="btn btn-sm btn-danger" onclick="del(51)">삭제</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="paging" style="margin-top:20px">
                        <span><a href="/design/event_list?page=1&method=100"><strong>1</strong></a></span>
                    </div>

                    <div class="btn_center">
                        <button class="btn btn-info" onclick="reg()" type="button">등록</button>
                    </div>
                </form>






                <%- include('../inc/footer') %>

                    <script type="text/javascript">
                        //<![CDATA[
                        function reg() {
                            location.href = "event_reg.asp?method=100";
                        }

                        function edit(idx) {
                            location.href = "event_reg.asp?method=100&idx=" + idx + "&params=method=100^page=";
                        }

                        function del(idx) {
                            var f = document.Frm;

                            if (confirm("삭제하시겠습니까?")) {
                                f.mode.value = "DEL";
                                f.idx.value = idx;
                                f.action = "event.act";
                                f.encoding = "multipart/form-data";
                                f.submit();
                            }
                        }

                        function changeRun(idx) {
                            var f = document.Frm;

                            f.mode.value = "RUN";
                            f.idx.value = idx;
                            f.action = "event.act";
                            f.encoding = "multipart/form-data";
                            f.submit();
                        }
                        //]]>
                    </script>


                    </body>

                    </html>