<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>좌측메뉴관리</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>디자인관리</li>
                    <li>좌측메뉴</li>
                    <li class="on">좌측메뉴관리</li>
                </ul>
                <ul class="helpbox">
                    <li>페이지 생성 또는 게시판 생성시 선택할 수 있는 좌측메뉴를 관리할 수 있습니다.</li>
                </ul>

                <form name="Frm" method="post" action="/design/leftmenu.act">
                    <input type="hidden" name="mode" value="REG">
                    <input type="hidden" name="idx" value="0">

                    <div class="box">
                        <div class="section_head">
                            <h4>좌측메뉴 등록하기</h4>
                        </div>

                        <table class="t_form">
                            <caption>왼쪽메뉴 등록폼</caption>
                            <colgroup>
                                <col width="130">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>제목</th>
                                    <td>
                                        <input type="text" name="title" class="text_input" style="width:98%" maxlength="50" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>내용</th>
                                    <td style="padding:0">
                                        <div style="border-bottom:1px solid #E6E6E6"><textarea name="content" style="width: 100%; height: 450px; display: none;" id="content-placeholder"></textarea><iframe id="__se2_frame_content-placeholder" name="__se2_frame_content-placeholder" frameborder="0"
                                                scrolling="no" style="width: 100%; height: 497px;" src="/js/SmartEditor2Skin.html"></iframe></div>
                                        <div class="blue" style="padding:5px">테이블 작성시에는 넓이를 px 이하로 정해주세요.</div>
                                        <script type="text/javascript">
                                            //<![CDATA[
                                            nhn.husky.EZCreator.createInIFrame({
                                                elPlaceHolder: 'content'
                                            });
                                            //]]>
                                        </script>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="btn_center">
                        <button type="button" class="btn btn-info" onclick="validSubmit()">확인</button>
                        <button type="button" class="btn btn-secondary" onclick="cancel()">취소</button>
                    </div>

                </form>


                <%- include('../inc/footer') %>

                    <!-- 에디터 Script -->
                    <script type="text/javascript" src="/js/HuskyEZCreator.js"></script>
                    <script type="text/javascript">
                        //<![CDATA[
                        function validSubmit() {
                            var f = document.Frm;

                            if (isEmpty(f.title)) {
                                alert("제목을 입력해 주세요.");
                                f.title.focus();
                                return false;
                            }

                            if (isEmpty(f.content)) {
                                alert("내용을 입력해 주세요.");
                                return false;
                            }

                            if (confirm("등록하시겠습니까?")) {
                                f.submit();
                            }
                        }

                        function cancel() {
                            history.back();
                        }
                        //]]>
                    </script>

                    </body>

                    </html>