<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>페이지관리</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>디자인관리</li>
                    <li>페이지생성기</li>
                    <li class="on">페이지관리</li>
                </ul>
                <ul class="helpbox">
                    <li>현재 설정되어 있는 페이지와 이벤트 페이지, 메일폼을 제외하고 페이지를 쉽게 생성해 적용할 수 있는 곳입니다.</li>
                </ul>

                <form name="Frm" method="post">
                    <input type="hidden" name="mode">
                    <input type="hidden" name="idx">

                    <div class="box">
                        <div class="section_head">
                            <h4>총 <span><strong>1</strong></span>개의 정보가 등록되어있습니다.</h4>
                        </div>
                        <table class="t_list">
                            <caption>등록된 페이지 리스트</caption>
                            <colgroup>
                                <col width="50">
                                <col width="25%">
                                <col width="*">
                                <col width="15%">
                                <col width="10%">
                                <col width="150">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>제목</th>
                                    <th>링크경로 & 미리보기</th>
                                    <th>왼쪽메뉴</th>
                                    <th>등록일</th>
                                    <th>관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>10</td>
                                    <td>회원혜택</td>
                                    <td><a href="/etc/page?idx=10" target="_blank">http://mimd.mallstore.co.kr/etc/page.asp?idx=10</a></td>
                                    <td><span class="ellipsis">좌메뉴 없음</span></td>
                                    <td>2017-06-19</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-secondary" onclick="edit(10)">수정</button>
                                        <button type="button" class="btn btn-sm btn-danger" onclick="del(10)">삭제</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="btn_center">
                        <button type="button" class="btn btn-info" onclick="reg()">등록</button>
                    </div>


                </form>





                <%- include('../inc/footer') %>

                    <script type="text/javascript">
                        //<![CDATA[
                        function reg() {
                            location.href = "pagemaker_reg";
                        }

                        function edit(idx) {
                            location.href = "pagemaker_reg?idx=" + idx;
                        }

                        function del(idx) {
                            var f = document.Frm;

                            if (confirm("삭제하시겠습니까?")) {
                                f.mode.value = "DEL";
                                f.idx.value = idx;
                                f.action = "pagemaker.act";
                                f.submit();
                            }
                        }
                        //]]>
                    </script>


                    </body>

                    </html>