<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>상품구매 회원목록</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>회원관리</li>
                    <li>회원관리</li>
                    <li class="on">상품구매 회원목록</li>
                </ul>
                <ul class="helpbox">
                    <li>다음은 상품구매 회원목록 입니다.</li>
                    <li><strong>총구매금액</strong> 산출 = (판매자+옵션)*수량</li>
                    <li>적립금, 쿠폰, 배송비, 할인내역은 금액에 포함되지 않습니다.</li>
                </ul>


                <form name="sFrm" method="get" onsubmit="return validSearch(this)">

                    <table cellspacing="0" cellpadding="0" border="0" width="100%" class="t_form">
                        <caption>회원 검색 폼</caption>
                        <colgroup>
                            <col width="130">
                            <col width="*">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>가입일</th>
                                <td>
                                    <div>
                                        <input type="text" id="sregdts" name="sregdts" value="" maxlength="10" class="text_input" style="width:70px">
                                        <img src="/img/btn_open.gif" onclick="calendar.open(event, 'sregdts', 'YYYY-MM-DD')" style="vertical-align:middle"> ~
                                        <input type="text" id="sregdte" name="sregdte" value="" maxlength="10" class="text_input" style="width:70px">
                                        <img src="/img/btn_open.gif" onclick="calendar.open(event, 'sregdte', 'YYYY-MM-DD')" style="vertical-align:middle"> 직접 입력시에는 “2007-01-01” 형식으로 입력해주세요.
                                    </div>
                                    <div class="mgt5">
                                        <span class="button small"><button type="button" onclick="inperiod.input('sregdts', 'sregdte')">전체</button></span>
                                        <span class="button small"><button type="button" onclick="inperiod.input('sregdts', 'sregdte', 't')">오늘</button></span>
                                        <span class="button small"><button type="button" onclick="inperiod.input('sregdts', 'sregdte', 't', -1)">어제</button></span>
                                        <span class="button small"><button type="button" onclick="inperiod.input('sregdts', 'sregdte', 'd', -3)">3일간</button></span>
                                        <span class="button small"><button type="button" onclick="inperiod.input('sregdts', 'sregdte', 'd', -7)">7일간</button></span>
                                        <span class="button small"><button type="button" onclick="inperiod.input('sregdts', 'sregdte', 'd', -10)">10일간</button></span>
                                        <span class="button small"><button type="button" onclick="inperiod.input('sregdts', 'sregdte', 'd', -20)">20일간</button></span>
                                        <span class="button small"><button type="button" onclick="inperiod.input('sregdts', 'sregdte', 'd', -30)">30일간</button></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>구매일</th>
                                <td>
                                    <div>
                                        <input type="text" id="sbuydts" name="sbuydts" value="" maxlength="10" class="text_input" style="width:70px">
                                        <img src="/img/btn_open.gif" onclick="calendar.open(event, 'sbuydts', 'YYYY-MM-DD')" style="vertical-align:middle"> ~
                                        <input type="text" id="sbuydte" name="sbuydte" value="" maxlength="10" class="text_input" style="width:70px">
                                        <img src="/img/btn_open.gif" onclick="calendar.open(event, 'sbuydte', 'YYYY-MM-DD')" style="vertical-align:middle"> 직접 입력시에는 “2007-01-01” 형식으로 입력해주세요.
                                    </div>
                                    <div class="mgt5">
                                        <span class="button small"><button type="button" onclick="inperiod.input('sbuydts', 'sbuydte')">전체</button></span>
                                        <span class="button small"><button type="button" onclick="inperiod.input('sbuydts', 'sbuydte', 't')">오늘</button></span>
                                        <span class="button small"><button type="button" onclick="inperiod.input('sbuydts', 'sbuydte', 't', -1)">어제</button></span>
                                        <span class="button small"><button type="button" onclick="inperiod.input('sbuydts', 'sbuydte', 'd', -3)">3일간</button></span>
                                        <span class="button small"><button type="button" onclick="inperiod.input('sbuydts', 'sbuydte', 'd', -7)">7일간</button></span>
                                        <span class="button small"><button type="button" onclick="inperiod.input('sbuydts', 'sbuydte', 'd', -10)">10일간</button></span>
                                        <span class="button small"><button type="button" onclick="inperiod.input('sbuydts', 'sbuydte', 'd', -20)">20일간</button></span>
                                        <span class="button small"><button type="button" onclick="inperiod.input('sbuydts', 'sbuydte', 'd', -30)">30일간</button></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>그룹별</th>
                                <td>
                                    <select id="slevel" name="slevel" onchange="change()"><option value="">회원등급</option><option value="1">일반회원</option><option value="4">코알라회원</option></select>
                                    <select id="sgender" name="sgender" onchange="change()"><option value="">성별</option><option value="100">남자</option><option value="200">여자</option></select>

                                </td>
                            </tr>
                            <tr>
                                <th>회원상태</th>
                                <td>
                                    <input type="radio" name="ssleep" value="0" checked="">전체
                                    <input type="radio" name="ssleep" value="1">일반
                                    <input type="radio" name="ssleep" value="2">휴면
                                </td>
                            </tr>
                            <tr>
                                <th>총구매금액</th>
                                <td>
                                    <input type="text" name="sbuyprice" value="" class="text_input" style="width:100px" onkeyup="toCurrency(this)"> 원 ~
                                    <input type="text" name="ebuyprice" value="" class="text_input" style="width:100px" onkeyup="toCurrency(this)"> 원
                                </td>
                            </tr>
                            <tr>
                                <th>보유적립금</th>
                                <td>
                                    <input type="text" name="scmoney" value="" class="text_input" style="width:100px" onkeyup="toCurrency(this)"> 원 ~
                                    <input type="text" name="ecmoney" value="" class="text_input" style="width:100px" onkeyup="toCurrency(this)"> 원
                                </td>
                            </tr>
                            <tr>
                                <th>직접검색</th>
                                <td>
                                    <select id="skey" name="skey"><option value="">전체</option><option value="id">회원아이디</option><option value="name">회원명</option><option value="tel">전화번호</option><option value="mobile">휴대폰번호</option><option value="email">이메일</option></select>

                                    <input type="text" name="sword" value="" class="text_input" style="width:300px">
                                    <span class="button small black"><button type="submit">검색</button></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="section_head">
                        <h4>총 <strong class="red">1</strong> 명의 회원이 조회 되었습니다.</h4>
                        <div>
                            <select id="psize" name="psize" onchange="change()"><option value="10" selected="">10명씩보기</option><option value="20">20명씩보기</option><option value="30">30명씩보기</option><option value="50">50명씩보기</option><option value="100">100명씩보기</option></select>
                            <select id="psort" name="psort" onchange="change()"><option value="regdt" selected="">회원가입일</option><option value="visitcnt">접속수</option><option value="buygoods">구매상품건수</option><option value="buyprice">구매총금액</option><option value="id">아이디순</option><option value="name">이름순</option></select>

                        </div>
                    </div>

                </form>

                <form name="Frm" method="post">
                    <input type="hidden" name="mode">
                    <input type="hidden" name="no">
                    <input type="hidden" name="params" value="sregdts=^sregdte=^sbuydts=^sbuydte=^slevel=0^sgender=^ssleep=0^sbuyprice=^ebuyprice=^scmoney=^ecmoney=^skey=^sword=^psort=regdt^psize=10^page=">

                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="t_list">
                        <caption>상품구매 회원목록</caption>
                        <colgroup>
                            <col width="30">
                            <col width="70">
                            <col width="*">
                            <col width="*">
                            <col width="70">
                            <col width="50">
                            <col width="50">
                            <col width="*">
                            <col width="50">
                            <col width="*">
                            <col width="*">
                            <col width="*">
                        </colgroup>
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="cbListAll" onclick="checkCbAll(this.form.cbList, this.checked)"></th>
                                <th>회원상태</th>
                                <th>아이디</th>
                                <th>회원등급</th>
                                <th>성명</th>
                                <th>성별</th>
                                <th>나이</th>
                                <th>적립금</th>
                                <th>접속수</th>
                                <th>가입일</th>
                                <th>구매상품건수</th>
                                <th>구매총금액</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td><input type="checkbox" name="cbList" value="2"></td>
                                <td>일반</td>
                                <td>

                                    <a href="javascript:;" ezi="2" onclick="ezpop.member.open(event)">mallstore</a>

                                </td>
                                <td>코알라회원</td>
                                <td>몰스토어</td>
                                <td>-</td>
                                <td>41</td>
                                <td>92,280원</td>
                                <td>174</td>
                                <td>
                                    2012-12-13
                                </td>
                                <td>1 건</td>
                                <td>57,700 원</td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="paging" style="margin-top:20px">
                        <span><a href="/member/member_buy_list.asp?page=1&sregdts=&sregdte=&sbuydts=&sbuydte=&slevel=0&sgender=&ssleep=0&sbuyprice=&ebuyprice=&scmoney=&ecmoney=&skey=&sword=&psort=regdt&psize=10"><strong>1</strong></a></span>
                    </div>

                    <div class="section_head">
                        <h4>일괄 수정</h4>
                    </div>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" class="t_form">
                        <caption>일괄 수정 폼</caption>
                        <colgroup>
                            <col width="130">
                            <col width="*">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>회원등급</th>
                                <td>
                                    선택한 회원의 등급을
                                    <select id="level" name="level"><option value="">선택</option><option value="1">일반회원</option><option value="4">코알라회원</option></select> 으로 <span class="button"><button type="button" onclick="setBatchLevel()">일괄 수정</button></span>

                                    <span class="square_blue"> 휴면회원도 선택된 등급으로 회원등급 변경이 가능합니다.</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="btn_right">
                        <span class="button large black"><a href="/member/member_buy_list.excel.asp?sregdts=&sregdte=&sbuydts=&sbuydte=&slevel=0&sgender=&ssleep=0&sbuyprice=&ebuyprice=&scmoney=&ecmoney=&skey=&sword=&psort=regdt&psize=10">엑셀로받기</a></span>
                    </div>

                </form>


                <%- include('../inc/footer') %>


                    <script type="text/javascript" src="/js/class.js"></script>
                    <script type="text/javascript">
                        //<![CDATA[
                        function change() {
                            var f = document.sFrm;

                            validSearch(f);

                            f.submit();
                        }

                        function validSearch(f) {
                            if (!isDate(f.sregdts.value)) f.sregdts.value = "";
                            if (!isDate(f.sregdte.value)) f.sregdte.value = "";
                            if (!isDate(f.sbuydts.value)) f.sbuydts.value = "";
                            if (!isDate(f.sbuydte.value)) f.sbuydte.value = "";
                        }
                        //]]>
                    </script>


                    <script type="text/javascript" src="/js/ezpop.js"></script>
                    <script type="text/javascript">
                        //<![CDATA[
                        ezpop.member.bind('detail', '회원정보', function(uno) {
                            $.laybox({
                                type: 'iframe',
                                source: '../member/member_detail.ifrm?uno=' + uno
                            });
                        });
                        ezpop.member.bind('email', '메일발송', function(uno) {
                            openPopup("../member/send_email.pop?uno=" + uno, "ezEmail", 740, 570);
                        });
                        ezpop.member.bind('sms', 'SMS전송', function(uno) {
                            openPopup("../sms/send_sms_direct.pop?uno=" + uno, "ezSms", 80, 340, "scrollbars=yes");
                        });
                        //]]>
                    </script>

                    <script type="text/javascript">
                        //<![CDATA[
                        function setBatchLevel() {
                            var f = document.Frm;
                            var items = "";

                            if ($('input[name="cbList"]').length == 0) {
                                return false;
                            }

                            if (isEmpty(f.level)) {
                                alert("수정하실 등급을 선택해 주세요.");
                                f.level.focus();
                                return false;
                            }

                            var $cb = $('input[name="cbList"]:checked');

                            if ($cb.length == 0) {
                                alert("회원을 선택해 주세요.");
                                return false;
                            }

                            $cb.each(function() {
                                items += (items ? ',' : '') + this.value;
                            });

                            if (confirm("선택하신 회원의 등급을 일괄 수정하시겠습니까?")) {
                                f.mode.value = "LEVEL";
                                f.no.value = items;
                                f.action = "member_buy.act";
                                f.target = "frmProc";
                                f.submit();
                            }
                        }
                        //]]>
                    </script>


                    </body>

                    </html>