<style type="text/css">
    #wrapBody {
        overflow: hidden;
    }
    
    .ptitle {
        float: left;
        margin-bottom: 5px;
    }
    
    .ptitle img {
        vertical-align: middle;
    }
    
    .ptitle span {
        font-size: 14px;
        font-weight: bold;
        margin-left: 5px;
    }
    
    .mform {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
    }
    
    .mform th {
        text-align: center;
        padding: 7px 5px;
        border: 1px solid #E6E6E6;
        background-color: #F5F5F5;
    }
    
    .mform td {
        text-align: left;
        padding: 7px 5px;
        border: 1px solid #E6E6E6;
    }
    
    .mform td span {
        font-weight: bold;
    }
</style>

<div class="modal viewMemberInfo" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">회원 정보</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="wrapBody">
                    <table class="mform">
                        <caption>회원 정보 내역</caption>
                        <colgroup>
                            <col width="120">
                            <col width="*">
                            <col width="120">
                            <col width="*">
                        </colgroup>
                        <tr>
                            <th>회원상태</th>
                            <td colspan="3">
                                <span>일반</span>
                            </td>
                        </tr>
                        <tr>
                            <th>아이디</th>
                            <td colspan="3">
                                <span>mallstore</span>
                            </td>
                        </tr>
                        <tr>
                            <th>성명</th>
                            <td>몰스토어</td>
                            <th>회원등급</th>
                            <td>코알라회원</td>
                        </tr>
                        <tr>
                            <th>성별</th>
                            <td></td>
                            <th>생년월일</th>
                            <td>1980년 11월 11일 [양력]</td>
                        </tr>
                        <tr>
                            <th>회사명</th>
                            <td></td>
                            <th>사업자등록번호</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>업태</th>
                            <td></td>
                            <th>종목</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>전화번호</th>
                            <td>02-555-1344</td>
                            <th>팩스번호</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>휴대폰번호</th>
                            <td colspan="3">010-0000-0000</td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td colspan="3">joonh0911@ncgn.co.kr</td>
                        </tr>
                        <tr>
                            <th>SMS수신</th>
                            <td>거부</td>
                            <th>메일링수신</th>
                            <td>거부</td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td colspan="3">[06531]&nbsp;서울 서초구 신반포로49길 12 (잠원동, 하늘정원빌딩) 4층</td>
                        </tr>
                        <tr>
                            <th>메모</th>
                            <td colspan="3">
                                <div style="overflow:auto; width:100%;"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>결혼여부</th>
                            <td></td>
                            <th>test1</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>test1</th>
                            <td></td>
                            <th>test1</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>test1</th>
                            <td></td>
                            <th>test1</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>가입일자</th>
                            <td colspan="3">2012-12-13 14:28:08</td>
                        </tr>
                        <tr>
                            <th>접속수</th>
                            <td>175</td>
                            <th>최근접속일</th>
                            <td>2020-01-29 11:00:32</td>
                        </tr>
                        <tr>
                            <th>적립금</th>
                            <td>92,280 원</td>
                            <th>총구매금액</th>
                            <td>
                                <div style="font-weight:bold; margin-bottom:3px;">57,700 원</div>
                                <div style="color:#FC7701; font-size:11px;">
                                    <div><span style="font-weight:bold">총구매금액</span> = (판매가 + 옵션가) * 수량</div>
                                    <div>(적립금, 쿠폰, 배송비, 할인금액 미포함)</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>관리자메모</th>
                            <td colspan="3">
                                <div style="overflow:auto; width:100%;"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>