<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>브랜드관리</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>입점업체관리</li>
                    <li>판매자상품관리</li>
                    <li class="on">브랜드관리</li>
                </ul>
                <ul class="helpbox">
                    <li>판매자에게서 신청된 브랜드에 관하여 관리합니다.</li>
                </ul>

                <form name="Frm" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="mode" value="EDIT">
                    <input type="hidden" name="idx" value="19">
                    <input type="hidden" name="params" value="skey=^sword=^page=">

                    <div class="section_head">
                        <h4>브랜드 수정하기</h4>
                    </div>

                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="t_form">
                        <caption>등록된 수정 폼</caption>
                        <colgroup>
                            <col width="130">
                            <col width="*">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>브랜드명</th>
                                <td>
                                    <input type="text" name="name" class="text_input" maxlength="100" style="width:98%" value="나이키">
                                </td>
                            </tr>
                            <tr>
                                <th>이미지</th>
                                <td>

                                    <div><input type="file" name="imgBrand" onkeypress="blockKey(event)" onkeydown="blockKey(event)"></div>
                                    <div class="mgt5 blue">※ 이미지파일은 GIF, JPG로 올려주시기 바랍니다.</div>
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="2">상단 디자인</th>
                                <td style="padding:0">
                                    <div><textarea name="topDecor" style="width: 100%; height: 250px; display: none;" id="topDecor-placeholder"></textarea><iframe id="__se2_frame_topDecor-placeholder" name="__se2_frame_topDecor-placeholder" frameborder="0"
                                            scrolling="no" style="width: 100%; height: 297px;" src="/js/SmartEditor2Skin.html"></iframe></div>
                                    <script type="text/javascript">
                                        //<![CDATA[
                                        nhn.husky.EZCreator.createInIFrame({
                                            elPlaceHolder: 'topDecor'
                                        });
                                        //]]>
                                    </script>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="btn">
                        <span class="button large black"><button type="button" onclick="validSubmit()">확인</button></span>
                        <span class="button large black"><button type="button" onclick="cancel()">취소</button></span>
                    </div>

                </form>

                <%- include('../inc/footer') %>


                    <!-- 에디터 Script -->
                    <script type="text/javascript" src="/js/HuskyEZCreator.js"></script>
                    <script type="text/javascript">
                        //<![CDATA[
                        function checkFileDisabled(obj, target) {
                            target.disabled = obj.checked;
                        }

                        function validSubmit() {
                            var f = document.Frm;

                            if (isEmpty(f.name)) {
                                alert("브랜드명을 입력해 주세요.");
                                f.name.focus();
                                return false;
                            }

                            if (!f.imgBrand.disabled && !isEmpty(f.imgBrand)) {
                                if (!checkFileName(f.imgBrand)) return false;
                                if (!checkFileExt(f.imgBrand, "jpg,gif", "이미지(jpg, gif) 파일만 선택해 주세요.")) return false;
                            }

                            if (confirm("등록하시겠습니까?")) {
                                f.action = "brand.act";
                                f.submit();
                            }
                        }

                        function cancel() {
                            location.href = "brand_list?skey=&sword=&page=";
                        }

                        $(function() {
                            $('.adjust_image_container').adjustImage();
                        });
                        //]]>
                    </script>


                    </body>

                    </html>