<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>이모티콘관리</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>운영관리</li>
                    <li>SMS관리</li>
                    <li class="on">이모티콘관리</li>
                </ul>
                <ul class="helpbox">
                    <li>SMS 이모티콘관리를 합니다.</li>
                </ul>



                <form name="Frm">
                    <input type="hidden" name="mode">

                    <div class="section_head">
                        <h4>SMS 이모티콘 관리</h4>
                    </div>

                    <div class="tip_box2">
                        <strong class="blue">주의사항</strong><br>
                        <span>내용 입력시 80 Bytes 이상 적으시면 발송이 안됩니다. 참고하시기 바랍니다.</span><br>
                        <span>도움문구는 다음과 같습니다.</span><br>
                        <span style="background:none;padding-left:10px">[NAME] : 회원이름, [SHOPNAME] : 상점명, [ORDERNUMBER] : 주문번호</span><br>
                        <span style="background:none;padding-left:10px">[NAME] 회원 정보가 없을 경우 '회원' 보이게 함, [DATE] 날짜</span><br>
                    </div>

                    <div class="btn_left" style="margin:5px 0 30px">
                        <span class="button large black"><button type="button" onclick="reg()">추가하기</button></span>
                    </div>


                </form>


                <%- include('../inc/footer') %>

                    <script type="text/javascript" src="/js/sms_func.js"></script>
                    <script type="text/javascript">
                        //<![CDATA[
                        function reg() {
                            location.href = "emoticon_manage_reg";
                        }

                        function del(obj) {
                            var f = document.Frm;

                            if (confirm("삭제하시겠습니까?")) {
                                $(obj).parent().parent().parent().parent().siblings().find('input[name="idx"]').prop('disabled', true);
                                f.mode.value = "DEL";
                                f.submit();
                            }
                        }

                        function validSubmit() {
                            var f = document.Frm;

                            var invalid = false;
                            $('textarea[name="content"]', 'form[name="Frm"]').each(function() {
                                if (isEmpty(this)) {
                                    alert("문구를 입력해 주세요.");
                                    this.focus();
                                    invalid = true;
                                    return false;
                                }
                            });
                            if (invalid) return false;

                            if (confirm("등록하시겠습니까?")) {
                                f.mode.value = "EDIT";
                                f.submit();
                            }
                        }

                        function cancel() {
                            location.reload();
                        }

                        $(function() {
                            $('textarea[name="content"]', 'form[name="Frm"]').each(function() {
                                var byteInfo = getSmsByte($(this).val(), 80);
                                $(this).parent().parent().find('input[name="bytes"]').val(byteInfo.size);
                            });
                        });
                        //]]>
                    </script>

                    </body>

                    </html>