<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>온라인입금계좌</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>환경설정</li>
                    <li>결제정보관리</li>
                    <li>온라인입금계좌</li>
                </ul>
                <ul class="helpbox">
                    <li>결제에 필요한 온라인 입금 계좌 정보를 관리하는 곳입니다.</li>
                    <li>아래 내용을 입력하시면 자동으로 쇼핑몰에 적용됩니다.</li>
                </ul>



                <form name="Frm" method="post" action="/setup/config_pay_online_act">
                    <input type="hidden" name="mode">
                    <input type="hidden" name="idx">

                    <div class="box">
                        <div class="section_head">
                            <h4>온라인입금사용</h4>
                        </div>

                        <table class="t_form">
                            <caption>온라인입금 사용여부</caption>
                            <tbody>
                                <tr>
                                    <th>온라인입금<br>사용여부</th>
                                    <td>
                                        <dl class="choose">
                                            <dt><input type="checkbox" name="usePayway" value="128" checked="" onclick="checkUsePayway(this)"></dt>
                                            <dd>온라인입금을 사용합니다.</dd>
                                        </dl>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="box">
                        <div class="section_head">
                            <h4>입금계좌목록</h4>
                        </div>

                        <table class="t_list">
                            <caption>입금계좌목록 리스트</caption>
                            <colgroup>
                                <col width="50">
                                <col width="150">
                                <col width="*">
                                <col width="150">
                                <col width="70">
                                <col width="100">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>은행명</th>
                                    <th>계좌번호</th>
                                    <th>예금주</th>
                                    <th>주계좌</th>
                                    <th>삭제</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ASDAS</td>
                                    <td class="left">ASD</td>
                                    <td>DASDSAD</td>
                                    <td><input type="radio" name="isMain" checked="" main="1" onclick="checkMain(14)"></td>
                                    <td><button type="button" class="btn btn-sm btn-danger" onclick="del(14)">삭제</button></td>
                                </tr>
                            </tbody>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="box">
                        <div class="section_head">
                            <h4>입금계좌추가</h4>
                        </div>

                        <table class="t_form">
                            <caption>입금계좌 추가 폼</caption>
                            <tbody>
                                <tr>
                                    <th>은행명</th>
                                    <td><input type="text" name="bank" class="text_input" maxlength="50"></td>
                                    <th>예금주</th>
                                    <td><input type="text" name="depositor" class="text_input" maxlength="100"></td>
                                </tr>
                                <tr>
                                    <th>계좌번호</th>
                                    <td colspan="3"><input type="text" name="account" class="text_input" maxlength="100"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="btn_center">
                        <button type="button" class="btn btn-info" onclick="validSubmit()">확인</button></span>
                    </div>

                </form>




                <%- include('../inc/footer') %>

                    <script type="text/javascript">
                        //<![CDATA[
                        function checkUsePayway(obj) {
                            var f = document.Frm;

                            if (obj.checked && typeof(f.isMain) == 'undefined') {
                                alert("최소 하나이상의 입금계좌가 추가되어야 합니다.\n먼저 입금계좌를 추가해 주세요.");
                                obj.checked = false;
                                return false;
                            }

                            if (confirm("온라인입금 사용여부를 변경하시겠습니까?")) {
                                f.mode.value = "USE";
                                f.submit();
                            } else obj.checked = !obj.checked;
                        }

                        function checkMain(idx) {
                            var f = document.Frm;

                            if (confirm("선택한 계좌를 주계좌로 설정하시겠습니까?")) {
                                f.mode.value = "MAIN";
                                f.idx.value = idx;
                                f.submit();
                            } else {
                                if (typeof(f.isMain.length) != 'undefined') {
                                    for (var i = 0; i < f.isMain.length; i++) {
                                        if (f.isMain[i].getAttribute('main').toString().toNumeric() > 0) {
                                            f.isMain[i].checked = true;
                                            break;
                                        }
                                    }
                                }
                            }
                        }

                        function del(idx) {
                            var f = document.Frm;

                            if (confirm("삭제하시겠습니까?")) {
                                f.mode.value = "DEL";
                                f.idx.value = idx;
                                f.submit();
                            }
                        }

                        function validSubmit() {
                            var f = document.Frm;

                            if (isEmpty(f.bank)) {
                                alert("은행명을 입력해 주세요.");
                                f.bank.focus();
                                return false;
                            }

                            if (isEmpty(f.depositor)) {
                                alert("예금주명을 입력해 주세요.");
                                f.depositor.focus();
                                return false;
                            }

                            if (isEmpty(f.account)) {
                                alert("계좌번호를 입력해 주세요.");
                                f.account.focus();
                                return false;
                            }

                            if (confirm("등록하시겠습니까?")) {
                                f.mode.value = "REG";
                                f.submit();
                            }
                        }
                        //]]>
                    </script>

                    </body>

                    </html>