<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>이용약관</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>환경설정</li>
                    <li>약관관리</li>
                    <li>이용약관</li>
                </ul>
                <ul class="helpbox">
                    <li>서비스 이용정책 중 '이용약관'의 이력을 관리하실 수 있습니다.</li>
                    <li>적용 위치 : 없음.</li>
                </ul>


                <form name="Frm" method="post">
                    <input type="hidden" name="code" value="101">

                    <div class="box">
                        <div class="section_head">
                            <h4>총 <span><strong>3개</strong></span>의 정보가 등록되어있습니다.</h4>
                        </div>

                        <table class="t_list">
                            <caption>이용약관 이력 리스트</caption>
                            <colgroup>
                                <col width="5%">
                                <col width="35%">
                                <col width="15%">
                                <col width="18%">
                                <col width="12%">
                                <col width="15%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th><input type="checkbox" name="cbListAll" onclick="checkCbAll(this.form.cbList, this.checked)"></th>
                                    <th>약관명 [Version]</th>
                                    <th>등록일시</th>
                                    <th>등록자ID</th>
                                    <th>노출상태</th>
                                    <th>기능</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" name="cbList" value="46"></td>
                                    <td class="left">이용약관 [ver 4.1]</td>
                                    <td>2019-01-29 15:58:41</td>
                                    <td>admin</td>
                                    <td><input type="radio" name="iscurrent" value="F" onchange="changeIscurrent();"></td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-secondary" onclick="reg();">수정</button>
                                        <button type="button" class="btn btn-sm btn-danger" onclick="del();">삭제</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="cbList" value="45"></td>
                                    <td class="left">이용약관 [ver 4.0]</td>
                                    <td>2018-12-06 17:05:06</td>
                                    <td>admin</td>
                                    <td><input type="radio" name="iscurrent" value="F" onchange="changeIscurrent();"></td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-secondary" onclick="reg();">수정</button>
                                        <button type="button" class="btn btn-sm btn-danger" onclick="del();">삭제</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="cbList" value="40"></td>
                                    <td class="left">이용약관 [ver 3.6]</td>
                                    <td>2018-12-06 16:50:47</td>
                                    <td>admin</td>
                                    <td><input type="radio" name="iscurrent" value="T" checked="" onchange="changeIscurrent();"></td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-secondary" onclick="reg();">수정</button>
                                        <button type="button" class="btn btn-sm btn-danger" onclick="del();">삭제</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>

                <div class="paging">
                    <span><a href="/setup/config_terms_history?page=1&amp;code=101"><strong>1</strong></a></span></div>

                <div class="btn_center">
                    <button type="button" class="btn btn-info" onclick="reg(0);">등록</button>
                    <button type="button" class="btn btn-secondary" onclick="delList();">선택삭제</button>
                </div>

                <%- include('../inc/footer') %>

                    <script type="text/javascript">
                        //<![CDATA[
                        function reg(idx) {
                            var code = $('input[name="code"]').val();

                            if (!idx) {
                                idx = 0;
                            }

                            location.href = "config_terms_history_reg?code=" + code + "&idx=" + idx;
                        }

                        function changeIscurrent(idxVal) {
                            var code = $('input[name="code"]').val();
                            var idx = parseInt(idxVal);

                            if (!idx) {
                                alert("유효하지 않은 이력이 선택되었습니다.");
                            }

                            if (confirm("선택된 이력을 현재버전으로 설정하시겠습니까?")) {
                                $.ajax({
                                    type: "POST",
                                    url: "/setup/config_terms_history_change_iscurrent_act_ajax",
                                    dataType: "json",
                                    data: {
                                        code: code,
                                        idx: idx
                                    },
                                    success: function(data) {
                                        if (data.result) {
                                            alert(data.resultMessage);
                                        }
                                    },
                                    error: function(event) {
                                        alert("시스템 오류입니다. 관리자에게 문의해주세요.");
                                    }
                                });
                            } else {
                                $('input[name="iscurrent"]').attr("checked", false);
                                $('input[name="iscurrent"]').each(function() {
                                    if ($(this).val() == "T") {
                                        $(this).attr("checked", true);
                                    }
                                });
                                alert("취소되었습니다.");
                            }
                        }

                        function delList() {
                            var f = document.Frm;

                            var code = f.code.value;
                            var items = "";

                            if (!f.cbList) {
                                return false;
                            }

                            if (typeof(f.cbList.length) == "undefined") {
                                if (f.cbList.checked) items = f.cbList.value;
                            } else {
                                for (var i = 0; i < f.cbList.length; i++) {
                                    if (f.cbList[i].checked) {
                                        items += (items ? ',' : '') + f.cbList[i].value;
                                    }
                                }
                            }

                            if (items == "") {
                                alert("삭제하실 항목을 선택해주세요.");
                                return false;
                            }

                            var msg = "선택된 이력 정보는 완전히 삭제되어 복구하실 수 없습니다." +
                                "\n삭제를 진행하시겠습니까?";
                            if (confirm(msg)) {
                                $('.wrap-loading').show();
                                $.ajax({
                                    type: "POST",
                                    url: "/setup/config_terms_history_del_act_ajax",
                                    dataType: "json",
                                    data: {
                                        code: code,
                                        idxs: items
                                    },
                                    success: function(data) {
                                        if (data.result) {
                                            alert(data.resultMessage);
                                            document.location.reload();
                                        }
                                    },
                                    error: function(event) {
                                        alert("시스템 오류입니다. 관리자에게 문의해주세요.");
                                    },
                                    complete: function() {
                                        $('.wrap-loading').hide();
                                    }
                                });
                            }
                        }

                        function del(idx) {
                            var f = document.Frm;

                            var code = f.code.value;

                            var msg = "선택된 이력 정보는 완전히 삭제되어 복구하실 수 없습니다." +
                                "\n삭제를 진행하시겠습니까?";
                            if (confirm(msg)) {
                                $('.wrap-loading').show();
                                $.ajax({
                                    type: "POST",
                                    url: "/setup/config_terms_history_del_act_ajax",
                                    dataType: "json",
                                    data: {
                                        code: code,
                                        idxs: idx
                                    },
                                    success: function(data) {
                                        if (data.result) {
                                            alert(data.resultMessage);
                                            document.location.reload();
                                        }
                                    },
                                    error: function(event) {
                                        alert("시스템 오류입니다. 관리자에게 문의해주세요.");
                                    },
                                    complete: function() {
                                        $('.wrap-loading').hide();
                                    }
                                });
                            }
                        }
                        //]]>
                    </script>

                    </body>

                    </html>