<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>상점운영정책</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>환경설정</li>
                    <li>상점운영정책</li>
                    <li>상점운영정책</li>
                </ul>
                <ul class="helpbox">
                    <li>상점운영에 필요한 배송, 교환, 반품등 운영정책을 입력하는 곳입니다.</li>
                    <li>수정을 클릭하시여 내용을 확인하시고 쇼핑몰에 맞는 정책을 기입해 주세요.</li>
                </ul>

                <form name="Frm" method="post" action="/setup/config_policy_act">
                    <input type="hidden" name="mode" value="EDIT">
                    <input type="hidden" name="idx" value="1">
                    <input type="hidden" name="code" value="101">

                    <div class="box">
                        <div class="section_head">
                            <h4>이용약관 수정</h4>
                        </div>

                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="t_form">
                            <caption>이용약관 입력폼</caption>
                            <colgroup>
                                <col width="130">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>제목</th>
                                    <td>
                                        <input type="text" name="subject" class="text_input" style="width:98%;" value="이용약관" readonly="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>적용위치</th>
                                    <td>
                                        <input type="text" name="location" class="text_input" style="width:98%;" value="/etc/licensing.do, /order/order_agree.do (비회원구매)">
                                    </td>
                                </tr>
                                <tr>
                                    <th>내용</th>
                                    <td style="padding:0">
                                        <textarea></textarea>

                                        <iframe id="__se2_frame_content-placeholder" name="__se2_frame_content-placeholder" frameborder="0" scrolling="no" style="width: 100%; height: 397px;" src="./(주)솔로몬테크노서플라이 관리자사이트_files/SmartEditor2Skin.html"></iframe>
                                        <script type="text/javascript">
                                            //<![CDATA[
                                            nhn.husky.EZCreator.createInIFrame({
                                                elPlaceHolder: 'content'
                                            });
                                            //]]>
                                        </script>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="btn">
                        <button type="button" class="btn btn-info" onclick="validSubmit()">확인</button>
                        <button type="button" class="btn btn-secondary" onclick="cancel()">취소</button>
                    </div>

                </form>


                <%- include('../inc/footer') %>
                    <!-- 에디터 Script -->
                    <script type="text/javascript" src="/js/HuskyEZCreator.js"></script>
                    <script type="text/javascript">
                        //<![CDATA[
                        function cancel() {
                            history.back();
                        }

                        function validSubmit() {
                            var f = document.Frm;

                            if (isEmpty(f.subject)) {
                                alert("제목을 입력해 주세요.");
                                f.subject.focus();
                                return false;
                            }

                            if (confirm("등록하시겠습니까?")) {
                                f.submit();
                            }
                        }
                        //]]>
                    </script>

                    </body>

                    </html>