<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>회원등급관리</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>환경설정</li>
                    <li>전체운영설정</li>
                    <li class="on">회원등급관리</li>
                </ul>
                <ul class="helpbox">
                    <li>현재의 회원권한 내용을 확인합니다.</li>
                </ul>

                <form name="Frm" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="mode" value="EDIT">
                    <input type="hidden" name="idx" value="1">

                    <div class="box">
                        <div class="section_head">
                            <h4>회원등급 관리</h4>
                        </div>

                        <table class="t_form">
                            <caption>회원등급 관리 폼</caption>
                            <tbody>
                                <tr>
                                    <th>등급명</th>
                                    <td>
                                        <input type="text" name="levelName" value="일반회원" maxlength="15" class="text_input">
                                    </td>
                                </tr>
                                <tr>
                                    <th>등급</th>
                                    <td>
                                        <select id="levelNo" name="levelNo" class="text_input">
                                            <option value="1" selected="">1 등급</option>
                                            <optgroup label="--------------------"></optgroup>
                                            <option value="2">2 등급</option><option value="3">3 등급</option>
                                            <option value="5">5 등급</option><option value="6">6 등급</option>
                                            <option value="7">7 등급</option><option value="8">8 등급</option>
                                            <option value="9">9 등급</option><option value="10">10 등급</option>
                                        </select>
                                        <span class="red11">기본등급</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>할인율</th>
                                    <td>
                                        <ul class="arrange">
                                            <li><input type="text" name="discountValue" value="10" maxlength="20" class="text_input" onkeyup="toNumericData(this)"></li>
                                            <li>
                                                <select id="discountUnit" name="discountUnit" class="text_input" style="width: 100px;">
                                                    <option value="200" selected>%</option>
                                                    <option value="100">원</option>
                                                </select>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>적립률</th>
                                    <td>
                                        <ul>
                                            <li>
                                                <input type="radio" name="cmoneyPolicy" value="0" checked> 적립금 지급 안함
                                            </li>
                                            <li class="mgt10">
                                                <input type="radio" name="cmoneyPolicy" value="6" class="text_input">
                                                <select id="cmoneyPolicyPrice" name="cmoneyPolicyPrice" class="text_input" disabled><option value="2">판매가</option><option value="4">결제가</option></select> 의
                                                <input type="text" name="cmoneyPercent" maxlength="5" class="text_input" style="width:70px" onkeyup="onlyFloat(this)" disabled=""> % 지급
                                            </li>
                                            <li class="mgt10">
                                                <input type="radio" name="cmoneyPolicy" class="text_input" value="8"> 구매 상품(개수) 당
                                                <input type="text" name="cmoneyMoney" class="text_input" style="width:70px" onkeyup="toCurrency(this)" disabled=""> 원 지급
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>이미지</th>
                                    <td>
                                        <input type="file" name="imgLevel" onkeypress="blockKey(event)" onkeydown="blockKey(event)">
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="btn_center">
                        <button type="button" class="btn btn-info" onclick="validSubmit()">확인</button>
                        <button type="button" class="btn btn-secondary" onclick="cancel()">취소</button>
                    </div>

                </form>


                <%- include('../inc/footer') %>

                    <script type="text/javascript">
                        //<![CDATA[
                        function checkFileDisabled(obj, target) {
                            target.disabled = obj.checked;
                        }

                        function toNumericData(obj) {
                            var f = document.Frm;
                            if (f.discountUnit.value == '200') {
                                onlyFloat(obj);
                            } else {
                                toCurrency(obj);
                            }
                        }

                        function validSubmit() {
                            var f = document.Frm;

                            if (isEmpty(f.levelName)) {
                                alert("등급명을 입력해 주십시요.");
                                f.levelName.focus();
                                return false;
                            }

                            if (isEmpty(f.levelNo)) {
                                alert("등급을 선택해 주십시요.");
                                f.levelNo.focus();
                                return false;
                            }

                            var discountValue = f.discountValue.value.toNumeric();
                            if (discountValue > 0) {
                                switch (f.discountUnit.value) {
                                    case '200':
                                        if (discountValue > 100) {
                                            alert("최대 100% 까지 설정이 가능합니다.");
                                            f.discountValue.value = 100;
                                            f.discountValue.focus();
                                            return false;
                                        }

                                        if (!checkRound(discountValue, 2)) {
                                            alert("소수점 2자리수 이내로 설정이 가능합니다.");
                                            f.discountValue.focus();
                                            return false;
                                        }
                                        break;
                                    case '100':
                                        if (discountValue < 10) {
                                            alert("최소 10원 이상으로 설정이 가능합니다.");
                                            f.discountValue.value = 10;
                                            f.discountValue.focus();
                                            return false;
                                        }
                                        break;
                                }
                            }

                            switch (getRadio(f.cmoneyPolicy)) {
                                case '6':
                                    if (f.cmoneyPercent.value.toNumeric() <= 0) {
                                        alert("적립률을 입력해 주세요.");
                                        f.cmoneyPercent.focus();
                                        return false;
                                    }

                                    if (f.cmoneyPercent.value.toNumeric() > 100) {
                                        alert("100% 이하로 입력해 주세요.");
                                        f.cmoneyPercent.value = "100";
                                        f.cmoneyPercent.focus();
                                        return false;
                                    }

                                    if (!isEmpty(f.cmoneyPercent) && !checkRound(f.cmoneyPercent.value, 2)) {
                                        alert("소수점 2자리수 이상은 불가능합니다.");
                                        f.cmoneyPercent.focus();
                                        return false;
                                    }
                                    break;
                                case '8':
                                    if (f.cmoneyMoney.value.toNumeric() <= 0) {
                                        alert("적립금을 입력해 주세요.");
                                        f.cmoneyMoney.focus();
                                        return false;
                                    }
                                    break;
                            }

                            if (confirm("등록하시겠습니까?")) {
                                f.action = "member_level.act.asp";
                                f.submit();
                            }
                        }

                        function cancel() {
                            location.href = "member_level.asp";
                        }

                        $(function() {
                            $('input[name="cmoneyPolicy"]').click(function() {
                                $(this).parent().parent().find('input:text, select').prop('disabled', true);
                                $(this).parent().children('input:text, select').prop('disabled', false);
                            });
                            $('input[name="cmoneyPolicy"]:checked').click();

                            $('.adjust_image_container').adjustImage({
                                realtime: true
                            });
                        });
                        //]]>
                    </script>


                    </body>

                    </html>