<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>주문상담</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>주문/매출관리</li>
                    <li>주문관리</li>
                    <li class="on">주문상담</li>
                </ul>
                <ul class="helpbox">
                    <li>주문상담 상세페이지입니다.</li>
                </ul>


                <div class="section_head">
                    <h4>회원기본정보</h4>
                </div>

                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="t_list">
                    <caption>회원기본정보 내역</caption>
                    <colgroup>
                        <col width="80">
                        <col width="100">
                        <col width="100">
                        <col width="120">
                        <col width="200">
                        <col width="*">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>등급</th>
                            <th>이름</th>
                            <th>전화번호</th>
                            <th>휴대번호</th>
                            <th>주소</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>일반회원</td>
                            <td>조선한</td>
                            <td>031-5109-4248</td>
                            <td>010-5109-4248</td>
                            <td>서울 강서구 양천로 520 202 (등촌동, 강변샤르망1단지)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <div style="margin-top:20px"><iframe id="frmOrder" name="frmOrder" src="/js/consult_detail_order.ifrm.html" marginwidth="0" marginheight="0" frameborder="0" style="width: 100%; height: 134px;"></iframe></div>


                <div style="margin-top:20px"><iframe id="frmQna" name="frmQna" src="/js/consult_detail_inquiry.ifrm.html" width="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="0" style="height: 150px; width: 100%;"></iframe></div>


                <div style="margin-top:20px"><iframe id="frmTm" name="frmTm" src="/js/consult_detail_tm.ifrm.html" width="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="0" style="height: 150px; width: 100%;"></iframe></div>

                <div class="btn">
                    <span class="button large black"><button type="button" onclick="list()">목록으로</button></span>
                </div>




                <%- include('../inc/footer') %>


                    <script type="text/javascript">
                        //<![CDATA[
                        addEvent(window, 'load', function() {
                            _e('frmOrder').style.width = '100%';
                            if (_e('frmQna')) _e('frmQna').style.width = '100%';
                            _e('frmTm').style.width = '100%';
                        });

                        addEvent(window, 'resize', function() {
                            _e('frmOrder').style.width = '100%';
                            if (_e('frmQna')) _e('frmQna').style.width = '100%';
                            _e('frmTm').style.width = '100%';
                        });
                        //]]>
                    </script>



                    <script type="text/javascript">
                        //<![CDATA[
                        function list() {
                            location.href = "consult_list?skey=&sword=&page=";
                        }
                        //]]>
                    </script>

                    </body>

                    </html>