<html>

<body>
    <div style="padding:15px">
        <div class="tc font18 letter-1" style="margin-top:0">
            <h4>주문 상세내역 - <strong class="red">(주문번호 : A1910170508013)</strong></h4>
        </div>

        <div class="font14 mgt20">
            <strong class="orange">전체주문</strong>
        </div>

        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="t_list mgt10">
            <caption>주문상품 내역</caption>
            <colgroup>
                <col width="*">
                <col width="50">
                <col width="100">
                <col width="110">
                <col width="70">
                <col width="130">
            </colgroup>
            <thead>
                <tr>
                    <th>주문상품</th>
                    <th>수량</th>
                    <th>판매가</th>
                    <th>주문금액</th>
                    <th>적립금</th>
                    <th>배송정보</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="left">
                        <div class="over_h">
                            <div class="fl" style="width:60px">
                                <a href="/goods/detail?gno=234&cate=24" target="_blank"><img src="/img/43.jpg" width="50" height="50"></a>
                            </div>
                            <div class="fl" style="width:190px">
                                <div><a href="/goods/detail?gno=234&cate=24" target="_blank">[NCGN] Sports Goggle</a></div>

                            </div>
                        </div>

                    </td>
                    <td>1</td>
                    <td>50,000원</td>
                    <td rowspan="1">50,000원</td>
                    <td rowspan="1">0원</td>
                    <td rowspan="1">
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div class="mgt5">&nbsp;</div>
                    </td>
                </tr>

                <tr>
                    <td colspan="6" bgcolor="#F5F5F5">판매자 : dealers(내친구몰), 김담당, 02-123-1234</td>
                </tr>
            </tbody>
        </table>

        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="t_list mgt10">
            <caption>할인,추가금액 내역</caption>
            <colgroup>
                <col width="120">
                <col width="220">
                <col width="90">
                <col width="*">
            </colgroup>
            <thead>
                <tr>
                    <th>항목</th>
                    <th>내용</th>
                    <th>금액</th>
                    <th>해당상품명</th>
                </tr>
            </thead>

            <tbody>
                <!-- 회원등급별 할인금액 : 시작 -->

                <!-- 회원등급별 할인금액 : 끝 -->
                <!-- 이벤트 할인금액 : 시작 -->

                <!-- 이벤트 할인금액 : 끝 -->
                <!-- 배송비 : 시작 -->

                <tr>

                    <td>배송비</td>
                    <td>선불 2,500원(50,000원 이상 구매시 무료)</td>

                    <td class="tr" style="padding-right:5px"><strong>0원</strong></td>
                    <td>[NCGN] Sports Goggle</td>
                </tr>

                <!-- 배송비 : 끝 -->
            </tbody>

        </table>

        <!-- 총결제정보 : 시작 -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="t_form mgt10">
            <caption>총 결제 금액 내역</caption>
            <colgroup>
                <col width="160">
                <col width="*">
                <col width="160">
                <col width="*">
            </colgroup>
            <tbody>
                <tr>
                    <th>주문 금액</th>
                    <td>50,000&nbsp;원</td>
                    <th>추가/할인 비용</th>
                    <td>0&nbsp;원</td>
                </tr>
                <tr>
                    <th>합계 금액</th>
                    <td colspan="3"><strong>50,000</strong>&nbsp;원</td>
                </tr>
                <tr>
                    <th>쿠폰 사용 금액</th>
                    <td>0&nbsp;원</td>
                    <th>적립금 사용 금액</th>
                    <td>0&nbsp;원</td>
                </tr>
                <tr>
                    <th>결제 금액</th>
                    <td><strong id="showSettlePrice" class="red font14">50,000</strong>&nbsp;원</td>
                    <th>적립 금액</th>
                    <td>0&nbsp;원</td>
                </tr>
            </tbody>
        </table>
        <!-- 총결제정보 : 끝 -->

        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="t_form mgt10">
            <caption>결제 정보 내역</caption>
            <colgroup>
                <col width="160">
                <col width="*">
                <col width="160">
                <col width="*">
            </colgroup>
            <tbody>
                <tr>
                    <th>아이디</th>
                    <td>
                        비회원
                    </td>
                    <th>주문일자</th>
                    <td>
                        2019-04-11 19:35:08
                    </td>
                </tr>
                <tr>
                    <th>결제</th>
                    <td colspan="3">
                        <div class="red"><strong>50,000 원 [온라인입금]</strong></div>
                        <div class="orange mgt5">국민은행&nbsp;00000000000000, 예금주: 홍길동, 입금자명: ㅁ</div>
                    </td>
                </tr>
            </tbody>
        </table>


        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="t_form mgt10">
            <caption>거래증빙서류 내역</caption>
            <colgroup>
                <col width="160">
                <col width="*">
            </colgroup>
            <tbody>
                <tr>
                    <th>현금영수증</th>
                    <td>

                        <dl class="cash_receipt">
                            <dt>증명서류 발급사유</dt>
                            <dd>: 사업자지출증빙</dd>

                            <dt>신분확인ID</dt>
                            <dd>: </dd>
                        </dl>

                    </td>
                </tr>
            </tbody>
        </table>


        <!-- 배송정보 -->

        <script type="text/javascript">
            //<![CDATA[
            // 우편번호
            function openZipcode(target) {
                openPopup("../../common/search_zip.pop.asp?target=" + target, "Zipcode", 100, 100);
            }

            function inputZipcode(data) {
                var f = document.FrmInfo;
                if (data.target == 'ordPost') {
                    f.ordPost.value = data.zipFront + '-' + data.zipRear;
                    f.ordAddr.value = data.addr;
                    f.ordAddrDetail.focus();
                } else {
                    f.rcvPost.value = data.zipFront + '-' + data.zipRear;
                    f.rcvAddr.value = data.addr;
                    f.rcvAddrDetail.focus();
                }
            }

            function validSubmitInfo() {
                var f = document.FrmInfo;
                var msg;

                var errMsg = "입력하지 않은 정보가 있습니다.\n--------------------------------------------------------\n";
                var errCnt = 0;

                if (isEmpty(f.ordName)) {
                    errMsg += "이름\n";
                    ++errCnt;
                }
                //if (isEmpty(f.ordTel1) || isEmpty(f.ordTel2) || isEmpty(f.ordTel3)) {				errMsg += "전화\n"; ++errCnt;}
                if (isEmpty(f.ordMobile1) || isEmpty(f.ordMobile2) || isEmpty(f.ordMobile3)) {
                    errMsg += "휴대전화\n";
                    ++errCnt;
                }
                if (isEmpty(f.ordPost)) {
                    errMsg += "우편번호\n";
                    ++errCnt;
                }
                if (isEmpty(f.ordAddr)) {
                    errMsg += "주소\n";
                    ++errCnt;
                }

                if (isEmpty(f.rcvName)) {
                    errMsg += "이름(받는분)\n";
                    ++errCnt;
                }
                //if (isEmpty(f.rcvTel1) || isEmpty(f.rcvTel2) || isEmpty(f.rcvTel3)) {					errMsg += "전화(받는분)\n"; ++errCnt;}
                if (isEmpty(f.rcvMobile1) || isEmpty(f.rcvMobile2) || isEmpty(f.rcvMobile3)) {
                    errMsg += "휴대전화(받는분)\n";
                    ++errCnt;
                }
                if (isEmpty(f.rcvPost)) {
                    errMsg += "우편번호(받는분)\n";
                    ++errCnt;
                }
                if (isEmpty(f.rcvAddr)) {
                    errMsg += "주소(받는분)\n";
                    ++errCnt;
                }

                if (errCnt > 0) {
                    alert(errMsg);
                    return;
                }

                var errMsg = "정확하지 않은 정보가 있습니다.\n--------------------------------------------------------\n";
                var errCnt = 0;

                if (!isEmpty(f.ordEmail)) {
                    if (!checkEmail(f.ordEmail.value)) {
                        errMsg += "형식에 맞지 않는 이메일 주소입니다.\n";
                        ++errCnt;
                    }
                }
                if (f.ordAddr.value.length < 5) {
                    errMsg += "주소를 자세히 기입하세요.\n";
                    ++errCnt;
                }

                if (confirm("배송정보를 수정하시겠습니까?")) {
                    f.action = "order_detail.act.asp";
                    f.submit();
                }
            }
            //]]>
        </script>

        <form name="FrmInfo" method="post">
            <input type="hidden" name="mode" value="INFO">
            <input type="hidden" name="menu" value="">
            <input type="hidden" name="idx" value="271">

            <div class="orange mgt20">
                <strong>주문자 정보</strong>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="t_form mgt5">
                <caption>주문자 정보</caption>
                <colgroup>
                    <col width="160">
                    <col width="*">
                    <col width="160">
                    <col width="*">
                </colgroup>
                <tbody>
                    <tr>
                        <th>이름</th>
                        <td>
                            <input name="ordName" type="text" class="text_input" style="width:150px" maxlength="15" value="ㅁ">
                        </td>
                        <th>이메일</th>
                        <td>
                            <input type="text" name="ordEmail" class="text_input" style="width:97%" maxlength="100" value="1@daum.net">
                        </td>
                    </tr>
                    <tr>
                        <th>전화</th>
                        <td>
                            <input type="text" name="ordTel1" class="text_input" style="width:50px" maxlength="4" onkeypress="blockNotNumber(event)" onkeyup="onlyInt(this)" value=""> -
                            <input type="text" name="ordTel2" class="text_input" style="width:50px" maxlength="4" onkeypress="blockNotNumber(event)" onkeyup="onlyInt(this)" value=""> -
                            <input type="text" name="ordTel3" class="text_input" style="width:50px" maxlength="4" onkeypress="blockNotNumber(event)" onkeyup="onlyInt(this)" value="">
                        </td>
                        <th>이동전화</th>
                        <td>
                            <input type="text" name="ordMobile1" class="text_input" style="width:50px" maxlength="4" onkeypress="blockNotNumber(event)" onkeyup="onlyInt(this)" value="1111"> -
                            <input type="text" name="ordMobile2" class="text_input" style="width:50px" maxlength="4" onkeypress="blockNotNumber(event)" onkeyup="onlyInt(this)" value="1111"> -
                            <input type="text" name="ordMobile3" class="text_input" style="width:50px" maxlength="4" onkeypress="blockNotNumber(event)" onkeyup="onlyInt(this)" value="1111">
                        </td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td colspan="3">
                            <div>
                                <input type="text" name="ordPost" class="text_input" style="width:70px" maxlength="7" value="">
                                <span class="button small"><button type="button" class="zipcode-open" zip-post="ordPost" zip-addr="ordAddr" zip-detail="ordAddrDetail">우편번호찾기</button></span>
                            </div>
                            <div class="mgt5">
                                <input type="text" name="ordAddr" class="text_input" style="width:40%" maxlength="50" value="">&nbsp;
                                <input type="text" name="ordAddrDetail" class="text_input" style="width:55%" maxlength="50" value="">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="orange mgt20">
                <strong>받는분 정보</strong>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="t_form mgt5">
                <caption>받는분 정보</caption>
                <colgroup>
                    <col width="160">
                    <col width="*">
                    <col width="160">
                    <col width="*">
                </colgroup>
                <tbody>
                    <tr>
                        <th>이름</th>
                        <td colspan="3">
                            <input name="rcvName" type="text" class="text_input" style="width:150px" maxlength="15" value="1">
                        </td>
                    </tr>
                    <tr>
                        <th>전화</th>
                        <td>
                            <input type="text" name="rcvTel1" class="text_input" style="width:50px" maxlength="4" onkeypress="blockNotNumber(event)" onkeyup="onlyInt(this)" value="1"> -
                            <input type="text" name="rcvTel2" class="text_input" style="width:50px" maxlength="4" onkeypress="blockNotNumber(event)" onkeyup="onlyInt(this)" value="1111"> -
                            <input type="text" name="rcvTel3" class="text_input" style="width:50px" maxlength="4" onkeypress="blockNotNumber(event)" onkeyup="onlyInt(this)" value="1111">
                        </td>
                        <th>이동전화</th>
                        <td>
                            <input type="text" name="rcvMobile1" class="text_input" style="width:50px" maxlength="4" onkeypress="blockNotNumber(event)" onkeyup="onlyInt(this)" value="1111"> -
                            <input type="text" name="rcvMobile2" class="text_input" style="width:50px" maxlength="4" onkeypress="blockNotNumber(event)" onkeyup="onlyInt(this)" value="1111"> -
                            <input type="text" name="rcvMobile3" class="text_input" style="width:50px" maxlength="4" onkeypress="blockNotNumber(event)" onkeyup="onlyInt(this)" value="1111">
                        </td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td colspan="3">
                            <div>
                                <input type="text" name="rcvPost" class="text_input" style="width:70px" maxlength="7" value="05257">
                                <span class="button small"><button type="button" class="zipcode-open" zip-post="rcvPost" zip-addr="rcvAddr" zip-detail="rcvAddrDetail">우편번호찾기</button></span>
                            </div>
                            <div class="mgt5">
                                <input type="text" name="rcvAddr" class="text_input" style="width:40%" maxlength="50" value="서울 강동구 고덕로 162">&nbsp;
                                <input type="text" name="rcvAddrDetail" class="text_input" style="width:55%" maxlength="50" value="(명일동)">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>요청사항</th>
                        <td colspan="3">
                            <textarea name="demand" rows="3" class="text_input" style="width:98%" onkeyup="checkTextLenByte(this, 500)"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>

        </form>



        <script type="text/javascript">
            //<![CDATA[
            function regMemo() {
                var f = document.FrmMemo;

                if (isEmpty(f.memo)) {
                    alert("내용을 입력해 주세요.");
                    f.memo.focus();
                    return false;
                }

                if (confirm("등록하시겠습니까?")) {
                    f.mode.value = "MEMO_REG";
                    f.action = "order_detail.act.asp";
                    f.submit();
                }
            }

            function delMemo(mIdx) {
                var f = document.FrmMemo;

                if (confirm("삭제하시겠습니까?")) {
                    f.memoIdx.value = mIdx;
                    f.mode.value = "MEMO_DEL";
                    f.action = "order_detail.act.asp";
                    f.submit();
                }
            }
            //]]>
        </script>


        <form name="FrmMemo" method="post">
            <input type="hidden" name="mode">
            <input type="hidden" name="menu" value="">
            <input type="hidden" name="idx" value="271">
            <input type="hidden" name="memoIdx">

            <div class="orange mgt20">
                <strong>관리자 메모</strong>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="t_form mgt5">
                <caption>관리자 메모</caption>
                <colgroup>
                    <col width="160">
                    <col width="*">
                    <col width="80">
                </colgroup>

                <tbody>
                    <tr>
                        <th>내용</th>
                        <td><textarea name="memo" rows="5" class="text_input" style="width:98%" onkeyup="checkTextLenByte(this, 2000)"></textarea></td>
                        <td>
                            <span class="button large blue"><button type="button" onclick="regMemo()">확인</button></span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </form>

        <div class="btn">
            <span class="button large black"><button type="button" onclick="self.close()">목록으로</button></span>
            <span class="button large black"><button type="button" onclick="openPrint()">출력하기</button></span>

            <span class="button large black"><button type="button" onclick="validSubmitInfo()">수정하기</button></span>

        </div>
    </div>
</body>


</html>