<%- include('../inc/head') %>

    <body>

        <style type="text/css">
            .autoScroll {
                overflow: auto;
                width: 100%;
                max-height: 250px;
                _height: expression(this.scrollHeight>250?"250px": "auto");
                padding-bottom: 5px;
            }
        </style>

        <script type="text/javascript">
            //<![CDATA[
            function validSubmit() {
                var f = document.Frm;

                if (isEmpty(f.title)) {
                    alert("배너명을 입력해 주세요.");
                    f.title.focus();
                    return false;
                }

                if (f.idx.value.toNumeric() == 0) {
                    if (isEmpty(f.imgBanner)) {
                        alert("배너파일을 선택해 주세요.");
                        f.imgBanner.focus();
                        return false;
                    }
                    if (!checkFileName(f.imgBanner)) return false;
                }

                if (!isEmpty(f.imgBanner)) {
                    if (!checkFileExt(f.imgBanner, "jpg,gif,png", "이미지(jpg, gif, png) 파일만 선택해 주세요.")) return false;
                }

                if (confirm("등록하시겠습니까?")) {
                    f.action = "category_slide_banner.act.asp";
                    //f.target = "frmProc_";
                    f.submit();
                }
            }

            //]]>
        </script>

        <div style="width:800px">
            <div class="section_head" style="margin-top:0">
                <h4>배너 추가</h4>
            </div>

            <form name="Frm" method="post" enctype="multipart/form-data">
                <input type="hidden" name="mode" value="REG" />
                <input type="hidden" name="akind" value="CATE_SLIDE" />
                <input type="hidden" name="cate" value="0" />
                <input type="hidden" name="child" value="0" />
                <input type="hidden" name="idx" value="0" />

                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="t_form">
                    <caption>배너등록</caption>
                    <colgroup>
                        <col width="80">
                        <col width="*">
                    </colgroup>
                    <tr>
                        <th>위치</th>
                        <td> <strong>카테고리 슬라이드 배너</strong> </td>
                    </tr>
                    <tr>
                        <th>배너명</th>
                        <td> <input type="text" name="title" value="" size="100" class="text_input" maxlength="50" /> </td>
                    </tr>

                    <tr>
                        <th>연결URL</th>
                        <td>
                            <div><input type="text" name="linkUrl" value="" size="100" class="text_input" maxlength="150" /></div>
                        </td>
                    </tr>
                    <tr>
                        <th>연결방법</th>
                        <td>
                            <input type="radio" name="linkTarget" value="_self" checked />현재창에서 열기
                            <input type="radio" name="linkTarget" value="_blank" />새창으로 열기
                        </td>
                    </tr>
                    <tr>
                        <th>크기</th>
                        <td>
                            넓이&nbsp;<input type="text" name="width" maxlength="3" class="text_input" style="width:30px" onKeyPress="blockNotNumber(event)" onKeyUp="onlyInt(this)" value="" />px&nbsp;×&nbsp;높이&nbsp;<input type="text" name="height" maxlength="3"
                                class="text_input" style="width:30px" onKeyPress="blockNotNumber(event)" onKeyUp="onlyInt(this)" value="" />px
                        </td>
                    </tr>

                    <tr>
                        <th>배너파일</th>
                        <td>

                            <div><input type="file" name="imgBanner" onKeyPress="blockKey(event)" onKeyDown="blockKey(event)" /></div>
                        </td>
                    </tr>
                </table>

                <div class="btn">
                    <span class="button black"><button type="button" onClick="validSubmit()">확인</button></span>
                </div>

            </form>

        </div>

    </body>

    </html>