<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>상품정보다운로드</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>상품관리</li>
                    <li>상품정보엑셀작업</li>
                    <li class="on">상품정보다운로드</li>
                </ul>
                <ul class="helpbox">
                    <li>업로드 하신 상품 DB를 다운 받으실 수 있습니다.</li>
                    <li>다운받기를 원하시는 출력항목을 선택하시여 [다운받기]버튼을 클릭해 주세요.</li>
                </ul>

                <style type="text/css">

                </style>


                <form name="Frm" method="post" target="frmProc" action="/goods/excel_down.excel">
                    <input type="hidden" name="field">
                    <input type="hidden" name="isCheckCbListAll" value="F">

                    <div class="section_head">
                        <h4>출력항목설정</h4>
                    </div>

                    <table width="100%" class="t_form">
                        <caption>출력항목 선택 폼</caption>
                        <colgroup>
                            <col width="130">
                            <col width="*">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>상품분류</th>
                                <td>
                                    <input type="hidden" name="scate" value="">
                                    <div style="float:left; margin-right:5px;"><select id="scate_1" name="scate_1" head="선택" depth="1" onchange="sc.get(this)"><option value="">선택</option><option value="2">OUTER</option><option value="14">TOP</option><option value="15">BOTTOM</option><option value="7">DRESS</option><option value="12">ACC</option><option value="304">SHOES</option><option value="314">BAG</option></select></div>
                                    <div style="float:left; margin-right:5px;"><select id="scate_2" name="scate_2" head="선택" depth="2" onchange="sc.get(this)"><option value="">선택</option></select></div>
                                    <div style="float:left; margin-right:5px;"><select id="scate_3" name="scate_3" head="선택" depth="3" onchange="sc.get(this)"><option value="">선택</option></select></div>
                                    <script type="text/javascript">
                                        //<![CDATA[
                                        var sc = new SelectCategory();
                                        sc.init(document.Frm.scate);
                                        //]]>
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <th>제외필터</th>
                                <td>
                                    <input type="checkbox" id="filter_no_display" name="filterNoDisplay" value="1"><label for="filter_no_display">미진열 상품 제외</label>
                                    <input type="checkbox" id="filter_soldout" name="filterSoldOut" value="1"><label for="filter_soldout">품절 상품 제외</label>
                                </td>
                            </tr>
                            <tr>
                                <th>출력항목</th>
                                <td>
                                    <ul class="fields">
                                        <li><input type="checkbox" id="field_1" name="cbList" value="gno"><label for="field_1" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">고유번호</label></li>
                                        <li><input type="checkbox" id="field_2" name="cbList" value="dealer"><label for="field_2" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">판매자</label></li>
                                        <li><input type="checkbox" id="field_3" name="cbList" value="gcode"><label for="field_3" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">상품코드</label></li>
                                        <li><input type="checkbox" id="field_4" name="cbList" value="category"><label for="field_4" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">카테고리</label></li>
                                        <li><input type="checkbox" id="field_5" name="cbList" value="gname"><label for="field_5" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">상품명</label></li>
                                        <li><input type="checkbox" id="field_6" name="cbList" value="summary"><label for="field_6" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">간략설명</label></li>
                                        <li><input type="checkbox" id="field_7" name="cbList" value="brand"><label for="field_7" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">브랜드</label></li>
                                        <li><input type="checkbox" id="field_8" name="cbList" value="imgb"><label for="field_8" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">큰이미지</label></li>
                                        <li><input type="checkbox" id="field_9" name="cbList" value="imgm"><label for="field_9" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">중간이미지</label></li>
                                        <li><input type="checkbox" id="field_10" name="cbList" value="imgs"><label for="field_10" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">작은이미지</label></li>
                                        <li><input type="checkbox" id="field_11" name="cbList" value="imgetc"><label for="field_11" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">기타이미지</label></li>
                                        <li><input type="checkbox" id="field_12" name="cbList" value="attach"><label for="field_12" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">첨부파일</label></li>
                                        <li><input type="checkbox" id="field_13" name="cbList" value="marketprice"><label for="field_13" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">시중가</label></li>
                                        <li><input type="checkbox" id="field_14" name="cbList" value="price"><label for="field_14" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">판매가</label></li>
                                        <li><input type="checkbox" id="field_15" name="cbList" value="originalprice"><label for="field_15" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">공급가</label></li>
                                        <li><input type="checkbox" id="field_16" name="cbList" value="taxfree"><label for="field_16" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">부가가치세</label></li>
                                        <li><input type="checkbox" id="field_17" name="cbList" value="margin"><label for="field_17" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">수수료율</label></li>
                                        <li><input type="checkbox" id="field_18" name="cbList" value="stock"><label for="field_18" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">재고</label></li>
                                        <li><input type="checkbox" id="field_19" name="cbList" value="soldout"><label for="field_19" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">품절여부</label></li>
                                        <li><input type="checkbox" id="field_20" name="cbList" value="display"><label for="field_20" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">진열설정</label></li>
                                        <li><input type="checkbox" id="field_21" name="cbList" value="cmoneypolicy"><label for="field_21" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">적립금정책</label></li>
                                        <li><input type="checkbox" id="field_22" name="cbList" value="cmoneyvalue"><label for="field_22" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">적립금지급률(액)</label></li>
                                        <li><input type="checkbox" id="field_23" name="cbList" value="product"><label for="field_23" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">제조사</label></li>
                                        <li><input type="checkbox" id="field_24" name="cbList" value="origin"><label for="field_24" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">원산지</label></li>
                                        <li><input type="checkbox" id="field_25" name="cbList" value="notify"><label for="field_25" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">상품정보고시</label></li>
                                        <li><input type="checkbox" id="field_26" name="cbList" value="content"><label for="field_26" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">상품설명</label></li>
                                        <li><input type="checkbox" id="field_27" name="cbList" value="deliverymethod"><label for="field_27" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">배송비구분</label></li>
                                        <li><input type="checkbox" id="field_28" name="cbList" value="deliveryfee"><label for="field_28" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">배송비</label></li>
                                        <li><input type="checkbox" id="field_29" name="cbList" value="deliverylimit"><label for="field_29" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">배송비무료금액</label></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="btn">
                        <span class="button large black"><button type="button" onclick="checkCbListAll()">전체선택</button></span>
                        <span class="button large black"><button type="button" onclick="validSubmit()">다운로드</button></span>
                    </div>

                </form>


                <%- include('../inc/footer') %>

                    <script type="text/javascript" src="/js/SelectCategory.js"></script>
                    <script type="text/javascript">
                        //<![CDATA[
                        function mouseOver(item) {
                            item.style.textDecoration = "underline";
                        }

                        function mouseOut(item) {
                            item.style.textDecoration = "none";
                        }

                        function checkCbListAll() {
                            var f = document.Frm;

                            if (f.isCheckCbListAll.value != "T") {
                                checkCbAll(f.cbList, true);
                                f.isCheckCbListAll.value = "T";
                            } else {
                                checkCbAll(f.cbList, false);
                                f.isCheckCbListAll.value = "F";
                            }
                        }
                        //]]>
                    </script>

                    <script type="text/javascript">
                        //<![CDATA[
                        function validSubmit() {
                            var f = document.Frm;

                            var items = "";
                            if (typeof(f.cbList.length) == "undefined") {
                                if (f.cbList.checked) items = f.cbList.value;
                            } else {
                                for (i = 0, len = f.cbList.length; i < len; i++) {
                                    if (f.cbList[i].checked) items += (items ? "," : "") + f.cbList[i].value;
                                }
                            }

                            if (items == "") {
                                alert("출력항목을 선택해 주세요.");
                                return false;
                            }

                            f.field.value = items;
                            f.submit();
                        }
                        //]]>
                    </script>


                    </body>

                    </html>