<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>쉘위샵 관리자사이트</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="/css/xeicon.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/button.css">
    <link rel="stylesheet" type="text/css" href="/css/board.css">

</head>

<body>
    <div id="wrap_pop">
        <form name="Frm" enctype="multipart/form-data">
            <div class="section_head">
                <h4><i class="xi-check-circle"></i> 상품 아이콘 등록/수정</h4>
            </div>

            <table class="t_list">
                <caption>아이콘 리스트</caption>
                <colgroup>
                    <col width="60">
                    <col width="*">
                    <col width="50">
                    <col width="50">
                </colgroup>

                <tbody>
                    <tr>
                        <td class="adjust_image_container">
                            <input type="hidden" name="code" value="1">
                            <!-- <img src="/img/icon_new.gif"> -->
                            <div id="preview"></div>
                        </td>
                        <td>
                            <label for="imgIcon_1" class="btn btn-sm btn-secondary">아이콘 찾기</label>
                            <input type="file" name="imgIcon_1" id="imgIcon_1" accept=".gif, .jpg" hidden>
                            <input type="text" id="imgIcon_1url" class="fileuploadurl" placeholder="선택된 파일이 없습니다" readonly>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-dark" onclick="regist(1)">등록</button></span>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger" onclick="del(1)">삭제</button></span>
                        </td>
                    </tr>

                </tbody>
            </table>

            <div class="btn_center">
                <button class="btn btn-secondary" onclick="cancle('close')">닫기</button></span>
            </div>
        </form>

    </div>
    <script src="/js/common.js"></script>
    <script src="/js/misc.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/js/api.js"></script>
    <script src="/js/sws.js"></script>

    <script>
        // 이미지파일 등록시 파일이름 보이기                  
        document.getElementById("imgIcon_1").onchange = function() {
            document.getElementById("imgIcon_1url").value = this.value.replace(/C:\\fakepath\\/i, '');
        };

        //<![CDATA[
        // 등록 이미지 등록 미리보기
        function readInputFile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#preview').html("<img src=" + e.target.result + " style='width:50px; height:18px'>");
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imgIcon_1").on('change', function() {
            readInputFile(this);
        });



        function regist(code) {
            var f = document.Frm;
            var objIcon = _e('imgIcon_' + code);

            if (isEmpty(objIcon)) {
                alert("아이콘 파일을 선택해 주세요.");
                objIcon.focus();
                return false;
            }

            if (!checkFileName(objIcon)) return false;
            if (!checkFileExt(objIcon, "jpg,gif", "이미지(jpg, gif) 파일만 선택해 주세요.")) return false;

            if (confirm("아이콘을 등록하시겠습니까?")) {
                if (typeof(f.code.length) != 'undefined') {
                    for (var i = 0; i < f.code.length; i++) {
                        if (f.code[i].value.toNumeric() != code) {
                            f.code[i].disabled = true;
                            f.imgIcon[i].disabled = true;
                        }
                    }
                }
                f.submit();
            }
        }

        function del(code) {
            var f = document.Frm;

            if (confirm("아이콘을 삭제하시겠습니까?")) {
                if (typeof(f.code.length) != 'undefined') {
                    for (var i = 0; i < f.code.length; i++) {
                        if (f.code[i].value.toNumeric() != code) {
                            f.code[i].disabled = true;
                        }
                    }
                }
                f.mode.value = "DEL";
                f.submit();
            }
        }

        $(function() {
            $('.adjust_image_container').adjustImage();
        });
        //]]>
    </script>



    <script type="text/javascript">
        console.log(opener.setIcons);
        //<![CDATA[
        if (opener && opener.setIcons) {
            opener.setIcons();
        }
        //]]>
    </script>
</body>

</html>