<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>상품진열설정</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>상품관리</li>
                    <li>상품관리</li>
                    <li class="on">상품진열설정</li>
                </ul>
                <ul class="helpbox">
                    <li>상품 진열순서를 설정하실 수 있습니다.</li>
                    <li>순서를 변경하신 후에는 반드시 "<strong class="red">저장</strong>"버튼을 누르셔야만 설정하신 순서가 실제 반영됩니다.</li>
                </ul>


                <form name="sFrm">

                    <!-- 검색 폼 : 시작 ###################################################################### -->
                    <div class="box">
                        <table width="100%" class="t_form">
                            <colgroup>
                                <col width="130">
                                <col width="*">
                            </colgroup>
                            <caption>검색 폼</caption>
                            <tbody>
                                <tr>
                                    <th>상품분류</th>
                                    <td>
                                        <input type="hidden" name="cate" value="">
                                        <select id="cate_1" name="cate_1" size="4" head=":: 1차 분류 ::" depth="1" onchange="sc.get(this)"><option value="">:: 1차 분류 ::</option><option value="2">OUTER</option><option value="14">TOP</option><option value="15">BOTTOM</option><option value="7">DRESS</option><option value="12">ACC</option><option value="304">SHOES</option><option value="314">BAG</option></select>
                                        <select id="cate_2" name="cate_2" size="4" head=":: 2차 분류 ::" depth="2" onchange="sc.get(this)"><option value="">:: 2차 분류 ::</option></select>
                                        <select id="cate_3" name="cate_3" size="4" head=":: 3차 분류 ::" depth="3" onchange="sc.get(this)"><option value="">:: 3차 분류 ::</option></select>

                                    </td>
                                </tr>
                                <tr>
                                    <th>제외필터</th>
                                    <td>
                                        <input type="checkbox" id="filter_no_display" name="filterNoDisplay" value="1"><label for="filter_no_display">미진열 상품 제외</label>
                                        <input type="checkbox" id="filter_soldout" name="filterSoldOut" value="1"><label for="filter_soldout">품절 상품 제외</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn_center">
                            <button type="submit" class="btn btn-secondary">검색</button>
                        </div>

                    </div>

                    <!-- 검색 폼 : 끝 ###################################################################### -->

                </form>



                <form name="Frm">
                    <input type="hidden" name="params" value="cate=0^filterNoDisplay=0^filterSoldOut=0">

                    <div class="sortable_wrap">
                        <div class="none"><strong>상단의 상품분류를 선택해 주세요.</strong></div>
                        <div class="sortable_wrap">

                            <div class="sortable_list">
                                <table width="100%" class="t_list mgb5">
                                    <colgroup>
                                        <col width="51">
                                        <col width="30">
                                        <col width="100">
                                        <col width="*">
                                        <col width="13%">
                                        <col width="40">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th><input type="checkbox" name="cbListAll" onclick="checkCbAll(this.form.cbList, this.checked)"></th>
                                            <th>상품코드</th>
                                            <th>상품명</th>
                                            <th>가격</th>
                                            <th>이동</th>
                                        </tr>
                                    </thead>
                                </table>

                                <ul id="sortable_container" class="ui-sortable">
                                    <li>
                                        <table>
                                            <colgroup>
                                                <col width="50">
                                                <col width="30">
                                                <col width="100">
                                                <col width="">
                                                <col width="13%">
                                                <col width="40">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <td class="no">1</td>
                                                    <th><input type="checkbox" name="cbList" value="243" onclick="checkCb(this)"><input type="hidden" name="gno" value="243"></th>
                                                    <td class="font11">G0000000243</td>
                                                    <td class="title">
                                                        <img src="http://mimd.mallstore.co.kr/data/base/goods/small/201721660706400_1_1_1_1.jpg" width="40" height="40">
                                                        <p><a href="/goods/detail">SUN_추가상품_개별_선불12000원이상 무료</a></p>
                                                    </td>
                                                    <td class="price">10,000 원</td>
                                                    <td class="mover"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                                <input type="hidden" name="sorts" value="243,242,241,240,239,234,231,229,222,221,220,218,217,216,213,202,201,200,199,198,197,196,194,193,192,185,184,183,145,143,137,126,125,90,76,74">
                            </div>

                            <div class="sortable_control" style="margin-left: 10px; top: 0px; visibility: visible;">
                                <div class="control_box">
                                    <ul>
                                        <li class="mover">
                                            <div><strong>상품 일괄 이동</strong></div>
                                            선택 상품을<br>
                                            <input type="text" name="batchNo" style="width:30px" class="text_input" onkeypress="blockNotNumber(event)" onkeyup="onlyInt(this)"> 번
                                            <select name="batchDirection">
                                                <option value="-1">위</option>
                                                <option value="1">아래</option>
                                            </select> 로
                                            <div class="mgt5"><span class="button"><button type="button" onclick="moveRow()">이동</button></span></div>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li><span class="button black"><button type="button" onclick="validSubmit()">저장</button></span></li>
                                        <li><span class="button black"><button type="button" onclick="cancel()">취소</button></span></li>
                                    </ul>
                                </div>
                                <ul class="go">
                                    <li><button type="button" class="top">▲</button></li>
                                    <li><button type="button" class="bottom">▼</button></li>
                                </ul>
                            </div>

                        </div>

                    </div>

                </form>



                <%- include('../inc/footer') %>


                    <script type="text/javascript" src="/js/SelectCategory.js"></script>
                    <script type="text/javascript" src="/js/jquery-ui-1.10.3.min.js"></script>
                    <script type="text/javascript" src="/js/Floating.js"></script>
                    <script type="text/javascript">
                        //<![CDATA[
                        function validSearch(f) {
                            if (isEmpty(f.cate)) {
                                alert("카테고리를 선택해 주세요.");
                                return false;
                            }

                            for (var i = 1; i <= CATEGORY_DEPTH; i++) {
                                f['cate_' + i].disabled = true;
                            }
                        }

                        function change() {
                            location.reload();
                        }
                        //]]>
                    </script>

                    <script type="text/javascript">
                        //<![CDATA[
                        function moveRow() {
                            var f = document.Frm;

                            var $row = $('#sortable_container').children();
                            var $cb = $('input[name="cbList"]:checked', '#sortable_container');

                            if ($cb.length == 0) {
                                alert("상품을 선택해 주세요.");
                                return false;
                            }

                            var maxNo = $row.length;
                            var batchNo = f.batchNo.value.toNumeric();
                            var batchDirection = f.batchDirection.value.toNumeric();

                            if (batchNo <= 0) {
                                alert("이동 위치 번호를 입력해 주세요.");
                                f.batchNo.focus();
                                return false;
                            }

                            if (maxNo < batchNo) {
                                alert("이동 위치 번호는 최대 " + maxNo + " 까지 설정할 수 있습니다.");
                                f.batchNo.focus();
                                return false;
                            }

                            var invalid = false;
                            $row.each(function(index) {
                                if ($(this).find('input:checkbox').is(':checked')) {
                                    if (index + 1 == batchNo) {
                                        alert("선택된 색상으로 이동 위치 번호를 설정할 수 없습니다.");
                                        invalid = true;
                                        return false;
                                    }
                                }
                            });
                            if (invalid) return false;

                            var $target = $row.eq(batchNo - 1);
                            $cb.each(function(index) {
                                var $obj = $(this).closest('li');
                                if (batchDirection > 0 || index > 0) {
                                    $obj.insertAfter($target);
                                } else {
                                    $obj.insertBefore($target);
                                }
                                $target = $obj;
                            });

                            numbering();
                        }

                        function sorting() {
                            $('#sortable_container').sortable({
                                handle: '.mover',
                                axis: 'y',
                                opacity: 0.7,
                                start: function(e, ui) {
                                    ui.item.addClass('current');
                                },
                                stop: function(e, ui) {
                                    ui.item.removeClass('current');
                                    numbering();
                                }
                            }).disableSelection();
                        }

                        function numbering() {
                            $('.no', '#sortable_container').each(function(index) {
                                $(this).text(index + 1);
                            });
                        }

                        function validSubmit() {
                            var f = document.Frm;

                            if (confirm("설정하신 진열순서를 저장하시겠습니까?")) {
                                f.action = "goods_sort.act.asp";
                                f.submit();
                            }
                        }

                        function cancel() {
                            location.reload();
                        }

                        $(function() {
                            sorting();

                            $('.sortable_control .go button.top').bind('click', function() {
                                $('html, body').animate({
                                    scrollTop: 0
                                }, 150);
                            })

                            $('.sortable_control .go button.bottom').bind('click', function() {
                                $('html, body').animate({
                                    scrollTop: $(document).height()
                                }, 150);
                            })

                            var objQuickBar = new Floating();
                            objQuickBar.item = $('.sortable_control')[0];
                            objQuickBar.time = 15;
                            objQuickBar.initTop = 0;
                            objQuickBar.fixTop = 0;
                            objQuickBar.marginSide = 10;
                            objQuickBar.init();
                            objQuickBar.run();
                        });
                        //]]>
                    </script>


                    <script type="text/javascript">
                        //<![CDATA[
                        var sc = new SelectCategory();
                        sc.init(document.sFrm.cate);
                        //]]>
                    </script>

                    </body>

                    </html>