<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="width:750px">
        <div class="section_head" style="margin:0">
            <h4>상품이력 총 0개의 상품 이력이 쌓여 있습니다.</h4>
        </div>

        <table class="t_list">
            <caption>상품이력 리스트</caption>
            <colgroup>
                <col width="65">
                <col width="65">
                <col width="80">
                <col width="130">
                <col width="*">
                <col width="130">
            </colgroup>
            <thead>
                <tr>
                    <th>유형</th>
                    <th>처리자 구분</th>
                    <th>처리자 No</th>
                    <th>처리자 ID</th>
                    <th>내용</th>
                    <th>등록일</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td colspan="6" height="50">저장된 이력정보가 없습니다.</td>
                </tr>

            </tbody>
        </table>

        <div class="paging">
            <span><a href=""><strong>1</strong></a></span>
        </div>
    </div>

</body>

</html>