<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>상품연동관리</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>상품관리</li>
                    <li>상품관리</li>
                    <li class="on">상품연동관리</li>
                </ul>
                <ul class="helpbox">
                    <li>네이버 지식쇼핑/다음 쇼핑하우의 상품연동을 관리합니다.</li>
                </ul>

                <style type="text/css">
                    .loading_update {
                        width: 350px;
                        height: 120px;
                        text-align: center;
                        background-color: #fff;
                        border: 1px solid #ccc
                    }
                    
                    .loading_update p {
                        margin: 30px 0 15px
                    }
                </style>


                <table class="t_list">
                    <colgroup>
                        <col width="150">
                        <col width="*">
                        <col width="150">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>업체</th>
                            <th>상품 DB URL</th>
                            <th>제휴사관리자</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- 네이버지식쇼핑 -->
                        <tr>
                            <td nowrap=""><strong>네이버 지식쇼핑</strong><br>(수동 업데이트)</td>
                            <td class="left">

                                <div>
                                    <strong class="blue">[전체상품]</strong>
                                    <span>http://mimd.mallstore.co.kr/data/base/ep/naver/all.txt</span>
                                    <span class="button small"><a href="http://mimd.mallstore.co.kr/data/base/ep/naver/all.txt" target="_blank" exist="1">미리보기</a></span>
                                    <span class="button small green"><button type="button" onclick="updateEp('naver', 'all')">업데이트</button></span>
                                </div>
                                <div class="orange font11">최근 업데이트 일시 : 2017-01-09 16:20:22</div>
                                <div class="mgt10">
                                    <strong class="blue">[요약상품]</strong>
                                    <span>http://mimd.mallstore.co.kr/data/base/ep/naver/brief.txt</span>
                                    <span class="button small"><a href="http://mimd.mallstore.co.kr/data/base/ep/naver/brief.txt" target="_blank" exist="1" preview="preview">미리보기</a></span>
                                    <span class="button small green"><button type="button" onclick="updateEp('naver', 'brief')">업데이트</button></span>
                                </div>
                                <div class="orange font11">최근 업데이트 일시 : 2013-08-13 14:05:56</div>
                                <div class="mgt10 font11">
                                    [업데이트 주기]<br> * 전체상품 : 매일 01시 (1일 1회)<br> * 요약상품 : 매일 09, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20시 (09~20시 매 시각마다 : 1일 12회)
                                </div>
                            </td>
                            <td>
                                <span class="button small"><a href="https://adcenter.shopping.naver.com/member/login/form.nhn" target="naver_new">관리</a></span>
                            </td>
                        </tr>
                        <!-- 네이버지식쇼핑 -->

                        <!-- 다음 쇼핑하우 -->
                        <tr>
                            <td nowrap=""><strong>다음 쇼핑하우</strong></td>
                            <td class="left">
                                <div>
                                    <strong class="blue">[전체상품]</strong>
                                    <span>http://mimd.mallstore.co.kr/exts/ep/daum.asp?kind=all</span>
                                    <span class="button small"><a href="http://mimd.mallstore.co.kr/exts/ep/daum.asp?kind=all&method=preview" target="_blank">미리보기</a></span>
                                </div>
                                <div class="mgt5">
                                    <strong class="blue">[요약상품]</strong>
                                    <span>http://mimd.mallstore.co.kr/exts/ep/daum.asp?kind=brief</span>
                                    <span class="button small"><a href="http://mimd.mallstore.co.kr/exts/ep/daum.asp?kind=brief&method=preview" target="_blank">미리보기</a></span>
                                </div>
                            </td>
                            <td>
                                <span class="button small"><a href="http://commerceone.biz.daum.net/main.daum" target="daum_new">관리</a></span>
                            </td>
                        </tr>
                        <!-- 다음 쇼핑하우 -->

                    </tbody>
                </table>

                <div id="loadingUpdate" style="display:none">
                    <div class="loading_update">
                        <p><strong>상품 DB</strong>를 <strong class="red">업데이트 중</strong> 입니다.<br>잠시만 기다려 주세요.</p>
                        <img src="/img/loading.bar.gif" alt="loading..">
                    </div>
                </div>



                <%- include('../inc/footer') %>


                    <script type="text/javascript">
                        //<![CDATA[
                        function updateEp(code, kind) {
                            $.laybox({
                                type: 'inline',
                                source: '#loadingUpdate',
                                maskClose: false,
                                close: false
                            });

                            setTimeout(function() {
                                $.ajax({
                                    type: "POST",
                                    dataType: "json",
                                    url: "../../exts/ep/" + code + ".asp",
                                    data: {
                                        kind: kind,
                                        method: 'file'
                                    },
                                    error: function(request, status, error) {
                                        alert(request.responseText)
                                    },
                                    success: function(data) {
                                        switch (kind) {
                                            case 'all':
                                                kind = '전체';
                                            case 'brief':
                                                kind = '요약';
                                            case 'new':
                                                kind = '신규';
                                        }

                                        alert("상품 DB 업데이트를 완료하였습니다.\n\n" +
                                            "상품DB 종류: " + kind + "\n" +
                                            "최근 업데이트 일시: " + data.date
                                        );

                                        location.reload();
                                    }
                                });
                            }, 500);
                        }

                        $(function() {
                            $('.t_list').find('a').click(function() {
                                var exist = $(this).attr('exist');
                                if (typeof(exist) != 'undefined') {
                                    if (exist.toNumeric() < 1) {
                                        alert("미리보기 파일이 존재하지 않습니다.\n업데이트 후 이용하시기 바랍니다.");
                                        return false;
                                    }
                                }
                            });
                        });
                        //]]>
                    </script>

                    </body>

                    </html>