<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>디자인관리</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>디자인관리</li>
                </ul>
                <ul class="helpbox">
                    <li>쇼핑몰 전체의 레이아웃 및 디자인을 하실 수 있습니다.</li>
                    <li>아이템에 맞는 디자인으로 사이트를 이쁘게 꾸며 주세요.</li>
                </ul>
                <div class="box">
                    <div class="section_head">
                        <h4>전체디자인설정</h4>
                    </div>
                    <dl class="menu_list">
                        <dt><a href="/design/site">전체디자인설정</a></dt>
                        <dd><a href="/design/site">사이트 전체 디자인 정렬 및 디자인 요소를 수정 하실 수 있습니다.</a></dd>
                        <dt><a href="/design/topper">상단부분관리</a></dt>
                        <dd><a href="/design/topper">사이트 상단 부분의 디자인을 설정합니다.</a></dd>
                        <dt><a href="/design/footer">하단부분관리</a></dt>
                        <dd><a href="/design/footer">사이트 하단 부분의 디자인을 설정합니다.</a></dd>
                    </dl>
                </div>

                <div class="box">
                    <div class="section_head">
                        <h4>메인페이지관리</h4>
                    </div>
                    <dl class="menu_list">
                        <dt><a href="/design/main">메인페이지관리</a></dt>
                        <dd><a href="/design/main">메인페이지의 레이아웃 및 상품, 배너를 설정 하실 수 있습니다.</a></dd>
                        <dt><a href="/design/banner?akind=left">서브좌측배너관리</a></dt>
                        <dd><a href="/design/banner?akind=left">서브좌측부분의 배너들를 관리 하실 수 있습니다.</a></dd>
                        <dt><a href="/design/banner?akind=etc">기타배너관리</a></dt>
                        <dd><a href="/design/banner?akind=etc">기타 배너들을 관리 하실 수 있습니다.</a></dd>
                    </dl>
                </div>

                <div class="box">
                    <div class="section_head">
                        <h4>이벤트관리</h4>
                    </div>
                    <dl class="menu_list">
                        <dt><a href="/design/event_list?method=100">이벤트(일반)관리</a></dt>
                        <dd><a href="/design/event_list?method=100">이벤트(일반) 관련된 정보들을 관리합니다.</a></dd>
                        <dt><a href="/design/event_list?method=200">이벤트(분류)관리</a></dt>
                        <dd><a href="/design/event_list?method=200">이벤트(분류) 관련된 정보들을 관리합니다.</a></dd>
                        <dt><a href="/design/event_list?method=300">이벤트(쿠폰)관리</a></dt>
                        <dd><a href="/design/event_list?method=300">이벤트(쿠폰) 관련된 정보들을 관리합니다.</a></dd>
                        <dt><a href="/design/event_list?method=400">이벤트(할인)관리</a></dt>
                        <dd><a href="/design/event_list?method=400">이벤트(할인) 관련된 정보들을 관리합니다.</a></dd>
                        <dt><a href="/design/event_reg">이벤트등록</a></dt>
                        <dd><a href="/design/event_reg">새로운 이벤트를 등록 하실 수 있습니다. </a></dd>
                    </dl>
                </div>

                <div class="box">
                    <div class="section_head">
                        <h4>좌측메뉴</h4>
                    </div>
                    <dl class="menu_list">
                        <dt><a href="/design/leftmenu">좌측메뉴관리</a></dt>
                        <dd><a href="/design/leftmenu">페이지생성 또는 게시판 생성시 선택할 수 있는 좌측메뉴를 관리합니다.</a></dd>
                    </dl>
                </div>

                <div class="box">
                    <div class="section_head">
                        <h4>페이지생성기</h4>
                    </div>
                    <dl class="menu_list">
                        <dt><a href="/design/pagemaker">페이지생성기 관리</a></dt>
                        <dd><a href="/design/pagemaker">각종 페이지들을 일괄적으로 관리합니다.</a></dd>
                    </dl>
                </div>

                <div class="box">
                    <div class="section_head">
                        <h4>기타</h4>
                    </div>
                    <dl class="menu_list">
                        <dt><a href="/design/mail_form">메일폼관리</a></dt>
                        <dd><a href="/design/mail_form">메일폼의 디자인을 수정합니다.</a></dd>
                        <dt><a href="/design/popup">팝업관리</a></dt>
                        <dd><a href="/design/popup">팝업창의 디자인을 생성/관리합니다.</a></dd>
                    </dl>
                </div>



                <%- include('../inc/footer') %>

                    </body>

                    </html>