<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>좌측메뉴관리</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>디자인관리</li>
                    <li>좌측메뉴</li>
                    <li class="on">좌측메뉴관리</li>
                </ul>
                <ul class="helpbox">
                    <li>페이지 생성 또는 게시판 생성시 선택할 수 있는 좌측메뉴를 관리할 수 있습니다.</li>
                </ul>

                <form name="Frm" method="post">
                    <input type="hidden" name="mode">
                    <input type="hidden" name="idx">

                    <div class="box">
                        <div class="section_head">
                            <h4>총 <span><strong>0</strong></span>개의 정보가 등록되어있습니다.</h4>
                        </div>

                        <table class="t_list">
                            <caption>왼쪽메뉴 리스트</caption>
                            <colgroup>
                                <col width="80">
                                <col width="*">
                                <col width="120">
                                <col width="120">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>코드</th>
                                    <th>제목</th>
                                    <th>등록일</th>
                                    <th>관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4">등록된 정보가 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="btn_center">
                        <button type="button" class="btn btn-info" onclick="reg()">등록</button>
                    </div>

                </form>

                <%- include('../inc/footer') %>

                    <script type="text/javascript">
                        //<![CDATA[
                        function reg() {
                            location.href = "leftmenu_reg";
                        }

                        function edit(idx) {
                            location.href = "leftmenu_reg?idx=" + idx;
                        }

                        function del(idx) {
                            var f = document.Frm;

                            if (confirm("삭제하시겠습니까?")) {
                                f.mode.value = "DEL";
                                f.idx.value = idx;
                                f.action = "leftmenu.act";
                                f.submit();
                            }
                        }
                        //]]>
                    </script>

                    </body>

                    </html>