<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>메인 배너관리</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>디자인관리</li>
                    <li>메인페이지관리</li>
                    <li>메인 배너관리</li>
                </ul>
                <ul class="helpbox">
                    <li>메인페이지 각 영역의 배너를 추가 및 수정 하실 수 있습니다.</li>
                    <li>배너 삭제 및 순서 변경을 하신 후에는 반드시 저장을 클릭하셔야 설정 내역이 반영됩니다.</li>
                    <li>
                        <div style="float:right"><a href="/design/main" style="font-weight:bold;color:#cc0000;text-decoration:underline">메인페이지 관리</a>로 돌아가기</div>
                    </li>
                </ul>
                <script type="text/javascript" src="/js/jquery-ui-1.10.3.min.js.download"></script>
                <script type="text/javascript">
                    //<![CDATA[
                    var tmpId = '445d5bfdd6';

                    function cbBannerAll(obj) {
                        $(obj).parents('div').first().next().find('input:checkbox[name="cbBanner"]').each(function() {
                            this.checked = obj.checked;
                        });
                    }

                    function addBanner(obj) {
                        var $ul = $(obj).parents('div').first().next();
                        var area = $ul.attr('area');
                        var main = $ul.attr('main').toNumeric();
                        var child = $ul.attr('child').toNumeric();
                        var max = $ul.attr('max').toNumeric();

                        if (max > 0 && max <= $ul.children().length) {
                            alert("더 이상 추가할 수 없습니다.\n\n최대 " + max + "개까지 추가할 수 있습니다.");
                            return false;
                        }

                        $.laybox({
                            type: 'iframe',
                            source: '../design/banner_reg_ifrm.do?akind=MAIN&area=' + area + (main ? '&main=' + main : '') + (child ? '&child=' + child : '') + (tmpId ? '&tmpId=' + tmpId : '')
                        });
                    }

                    function editBanner(idx) {
                        $.laybox({
                            type: 'iframe',
                            source: '../design/banner_reg_ifrm.do?akind=MAIN&idx=' + idx + (tmpId ? '&tmpId=' + tmpId : '')
                        });
                    }

                    function removeBanner(obj) {
                        $(obj).parents('div').first().next().find('input:checkbox[name="cbBanner"]:checked').each(function() {
                            $(this).parent().remove();
                        });
                    }

                    function getBannerItem(idx, area, main, child, tmp) {
                        var $ul = $('ul[area="' + area + '"][main="' + main + '"][child="' + child + '"]');
                        if ($ul.length) {
                            $.ajax({
                                type: "POST",
                                url: "../design/banner_item_ajax.do",
                                data: {
                                    idx: idx,
                                    tmpId: tmp
                                },
                                error: function(request, status, error) {
                                    alert(request.responseText)
                                },
                                success: function(data) {
                                    var $input = $('input:checkbox[name="cbBanner"][value="' + idx + '"]');
                                    var $li = ($input.length ? $input.parent() : $('<li />').appendTo($ul));
                                    $li.empty().html(data);

                                    $('.banner', $li).adjustImage({
                                        type: 'both-min',
                                        parent: '.banner'
                                    });
                                    $('.original', $li).laybox();

                                    $.laybox.close();
                                }
                            });
                        }
                    }

                    function saveBanner(obj) {
                        var $ul = $(obj).parents('div').first().next();
                        var banner = '0';

                        $ul.find('input:checkbox[name="cbBanner"]').each(function() {
                            banner += ',' + this.value;
                        });

                        if (confirm("설정 내역으로 저장하시겠습니까?")) {
                            var params = {
                                mode: 'SAVE',
                                akind: 'MAIN',
                                area: $ul.attr('area'),
                                main: $ul.attr('main'),
                                child: $ul.attr('child'),
                                idx: banner,
                                tmpId: tmpId
                            };

                            $('#FrmBanner').remove();

                            var $form = $('<form id="FrmBanner" />').attr({
                                method: 'post',
                                action: '../design/banner_act.do',
                                target: 'frmProc',
                                enctype: 'multipart/form-data'
                            }).appendTo('body');

                            $.each(params, function(key) {
                                $('<input type="hidden" name="' + key + '" />').val(this).appendTo($form);
                            });
                            $form.submit();
                        }
                    }

                    function previewMain() {
                        window.open('http://java.mysql.mallstore.co.kr/main/index.do?areaCode=VISUAL&preview=445d5bfdd6', "", "");
                    }

                    function realSaveBanner() {

                        if (confirm("설정 내역으로 저장하시겠습니까?")) {
                            var params = {
                                mode: 'REALSAVE',
                                akind: 'MAIN',
                                area: 'VISUAL',
                                main: '30',
                                tmpId: tmpId
                            };

                            $('#FrmBanner').remove();

                            var $form = $('<form id="FrmBanner" />').attr({
                                method: 'post',
                                action: '../design/banner_act.do',
                                target: 'frmProc',
                                enctype: 'multipart/form-data'
                            }).appendTo('body');

                            $.each(params, function(key) {
                                $('<input type="hidden" name="' + key + '" />').val(this).appendTo($form);
                            });
                            $form.submit();
                        }
                    }

                    function cancelBanner() {

                        var params = {
                            mode: 'CANCEL',
                            akind: 'MAIN',
                            area: 'VISUAL',
                            main: '30',
                            tmpId: tmpId
                        };

                        $('#FrmBanner').remove();

                        var $form = $('<form id="FrmBanner" />').attr({
                            method: 'post',
                            action: '../design/banner_act.do',
                            target: 'frmProc',
                            enctype: 'multipart/form-data'
                        }).appendTo('body');

                        $.each(params, function(key) {
                            $('<input type="hidden" name="' + key + '" />').val(this).appendTo($form);
                        });
                        $form.submit();
                    }

                    $(function() {
                        $('.sortable_banner').sortable({
                            handle: '.mover',
                            opacity: 0.7
                        }).disableSelection();
                        $('.banner', '.sortable').adjustImage({
                            type: 'both-min',
                            parent: '.banner'
                        });
                        $('.original', '.sortable').laybox();
                    });
                    //]]>
                </script>

                <div class="sortable_title">
                    <h4>위젯 배너 - 신제품 출시기념 이벤트<span>(최대 1개)</span></h4>
                    <p>
                        <span><input type="checkbox" name="cbListAll" onclick="cbBannerAll(this)">전체선택</span>
                        <span class="button small"><button type="button" onclick="addBanner(this)">배너추가</button></span>
                        <span class="button small"><button type="button" onclick="removeBanner(this)">배너삭제</button></span>
                        <span class="button blue small"><button type="button" onclick="saveBanner(this)">임시 저장</button></span>
                    </p>
                </div>
                <ul class="sortable sortable_banner ui-sortable" area="VISUAL" main="30" child="1" max="1">
                    <li>
                        <input type="checkbox" name="cbBanner" value="1247" class="cb">
                        <div class="mover">
                            <div><strong>MOVE</strong></div>
                        </div>
                        <div class="banner">
                            <img src="/img/9561158559ab43c6a691c0ce3a12c7df.jpg" style="width: auto; height: 138px; margin-left: -239.824px; margin-top: 0px;" alt="메인배너1" ow="1920" oh="391"></div>
                        <div class="caption">
                            <p class="ellipsis"><span class="ellipsis">메인배너1</span></p>
                            <div>
                                <span class="button small"><button type="button" onclick="editBanner(1247)">수정</button></span>
                                <span class="button small"><a href="/img/9561158559ab43c6a691c0ce3a12c7df.jpg" class="original" laybox-width="0" laybox-height="0">원본</a></span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="sortable_title">
                    <h4>위젯 배너 - 20주년 기념 한정판<span>(최대 1개)</span></h4>
                    <p>
                        <span><input type="checkbox" name="cbListAll" onclick="cbBannerAll(this)">전체선택</span>
                        <span class="button small"><button type="button" onclick="addBanner(this)">배너추가</button></span>
                        <span class="button small"><button type="button" onclick="removeBanner(this)">배너삭제</button></span>
                        <span class="button blue small"><button type="button" onclick="saveBanner(this)">임시 저장</button></span>
                    </p>
                </div>
                <ul class="sortable sortable_banner ui-sortable" area="VISUAL" main="30" child="2" max="1">
                    <li>
                        <input type="checkbox" name="cbBanner" value="1248" class="cb">
                        <div class="mover">
                            <div><strong>MOVE</strong></div>
                        </div>
                        <div class="banner">
                            <img src="/img/visual_img22_0.jpg" style="width: auto; height: 138px; margin-left: -239.824px; margin-top: 0px;" alt="메인배너2" ow="1920" oh="391"></div>
                        <div class="caption">
                            <p class="ellipsis"><span class="ellipsis">메인배너2</span></p>
                            <div>
                                <span class="button small"><button type="button" onclick="editBanner(1248)">수정</button></span>
                                <span class="button small"><a href="/img/visual_img22_0.jpg" class="original" laybox-width="0" laybox-height="0">원본</a></span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="sortable_title">
                    <h4>위젯 배너 - 신제품2<span>(최대 1개)</span></h4>
                    <p>
                        <span><input type="checkbox" name="cbListAll" onclick="cbBannerAll(this)">전체선택</span>
                        <span class="button small"><button type="button" onclick="addBanner(this)">배너추가</button></span>
                        <span class="button small"><button type="button" onclick="removeBanner(this)">배너삭제</button></span>
                        <span class="button blue small"><button type="button" onclick="saveBanner(this)">임시 저장</button></span>
                    </p>
                </div>
                <ul class="sortable sortable_banner ui-sortable" area="VISUAL" main="30" child="3" max="1">
                </ul>
                <div class="sortable_title">
                    <h4>위젯 배너 - 20주년 2<span>(최대 1개)</span></h4>
                    <p>
                        <span><input type="checkbox" name="cbListAll" onclick="cbBannerAll(this)">전체선택</span>
                        <span class="button small"><button type="button" onclick="addBanner(this)">배너추가</button></span>
                        <span class="button small"><button type="button" onclick="removeBanner(this)">배너삭제</button></span>
                        <span class="button blue small"><button type="button" onclick="saveBanner(this)">임시 저장</button></span>
                    </p>
                </div>
                <ul class="sortable sortable_banner ui-sortable" area="VISUAL" main="30" child="4" max="1">
                </ul>
                <div class="sortable_title">
                    <h4>위젯 배너 - 신제품3<span>(최대 1개)</span></h4>
                    <p>
                        <span><input type="checkbox" name="cbListAll" onclick="cbBannerAll(this)">전체선택</span>
                        <span class="button small"><button type="button" onclick="addBanner(this)">배너추가</button></span>
                        <span class="button small"><button type="button" onclick="removeBanner(this)">배너삭제</button></span>
                        <span class="button blue small"><button type="button" onclick="saveBanner(this)">임시 저장</button></span>
                    </p>
                </div>
                <ul class="sortable sortable_banner ui-sortable" area="VISUAL" main="30" child="5" max="1">
                </ul>
                <div class="sortable_title">
                    <h4>위젯 배너 - 20주년 3<span>(최대 1개)</span></h4>
                    <p>
                        <span><input type="checkbox" name="cbListAll" onclick="cbBannerAll(this)">전체선택</span>
                        <span class="button small"><button type="button" onclick="addBanner(this)">배너추가</button></span>
                        <span class="button small"><button type="button" onclick="removeBanner(this)">배너삭제</button></span>
                        <span class="button blue small"><button type="button" onclick="saveBanner(this)">임시 저장</button></span>
                    </p>
                </div>
                <ul class="sortable sortable_banner ui-sortable" area="VISUAL" main="30" child="6" max="1">
                </ul>
                <div class="btn">
                    <span class="button black large"><button type="button" onclick="previewMain();">미리보기</button></span>
                    <span class="button black large"><button type="button" onclick="realSaveBanner();">저장</button></span>
                    <span class="button black large"><button type="button" onclick="cancelBanner();">나가기</button></span>
                </div>



                <%- include('../inc/footer') %>

                    </body>

                    </html>