<%- include('../inc/head') %>

    <div id="container">

        <%- include('../inc/sidebar') %>

            <div id="contents">
                <h3>페이지 등록</h3>
                <ul class="navi">
                    <li class="home"><a href="/" target="_top">홈</a></li>
                    <li>디자인관리</li>
                    <li>페이지생성기</li>
                    <li class="on">페이지 등록</li>
                </ul>
                <ul class="helpbox">
                    <li>현재 설정되어 있는 페이지와 이벤트 페이지, 메일폼을 제외하고 페이지를 쉽게 생성해 적용할 수 있는 곳입니다.</li>
                </ul>



                <form name="Frm" method="post" action="/design/pagemaker.act">
                    <input type="hidden" name="mode" value="REG">
                    <input type="hidden" name="idx" value="0">

                    <div class="section_head">
                        <h4>페이지 등록하기</h4>
                    </div>

                    <table cellspacing="0" cellpadding="0" border="0" width="100%" class="t_form">
                        <caption>페이지 등록폼</caption>
                        <colgroup>
                            <col width="130">
                            <col width="*">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>제목</th>
                                <td>
                                    <input type="text" name="title" class="text_input" style="width:98%" maxlength="50" value="">
                                </td>
                            </tr>
                            <tr>
                                <th>좌측메뉴</th>
                                <td>
                                    <select id="leftmenu" name="leftmenu" style="width:100%"><option value="">메뉴 없음</option><optgroup label="- 고정 메뉴 -"></optgroup><option value="-2">고객센터 메뉴</option></select>
                                </td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td style="padding:0">
                                    <div><textarea name="content" style="width: 100%; height: 450px; display: none;" id="content-placeholder"></textarea><iframe id="__se2_frame_content-placeholder" name="__se2_frame_content-placeholder" frameborder="0" scrolling="no"
                                            style="width: 100%; height: 497px;" src="/js/SmartEditor2Skin.html"></iframe></div>
                                    <script type="text/javascript">
                                        //<![CDATA[
                                        nhn.husky.EZCreator.createInIFrame({
                                            elPlaceHolder: 'content'
                                        });
                                        //]]>
                                    </script>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="btn">
                        <span class="button black large"><button type="button" onclick="validSubmit()">확인</button></span>
                        <span class="button black large"><button type="button" onclick="cancel()">취소</button></span>
                    </div>

                </form>


                <%- include('../inc/footer') %>

                    <!-- 에디터 Script -->
                    <script type="text/javascript" src="/js/HuskyEZCreator.js"></script>
                    <script type="text/javascript">
                        //<![CDATA[
                        function validSubmit() {
                            var f = document.Frm;

                            if (isEmpty(f.title)) {
                                alert("제목을 입력해 주세요.");
                                f.title.focus();
                                return false;
                            }

                            if (isEmpty(f.content)) {
                                alert("내용을 입력해 주세요.");
                                return false;
                            }

                            if (confirm("등록하시겠습니까?")) {
                                f.submit();
                            }
                        }

                        function cancel() {
                            history.back();
                        }
                        //]]>
                    </script>

                    </body>

                    </html>